/* Add CSS here */
:root {

    /* Colors */
    --clr-body-bg: #202020;
    --text: #232E4D;
    --background: #f8f4fc;
    --primary: #F4A31D;
    --secondary: #4F92DC;
    --accent: #FBD836;

    /* shades */
    --text-50: #eef0f7;
    --text-100: #dce1ef;
    --text-200: #b9c3df;
    --text-300: #96a5cf;
    --text-400: #7387bf;
    --text-500: #5069af;
    --text-600: #40548c;
    --text-700: #303f69;
    --text-800: #202a46;
    --text-900: #101523;
    --text-950: #080b11;
    
    --background-50: #f2ebfa;
    --background-100: #e6d7f4;
    --background-200: #ccafe9;
    --background-300: #b287de;
    --background-400: #995fd3;
    --background-500: #7f37c8;
    --background-600: #662ca0;
    --background-700: #4c2178;
    --background-800: #331650;
    --background-900: #190b28;
    --background-950: #0d0514;
    
    --primary-50: #fef5e7;
    --primary-100: #fdebce;
    --primary-200: #fad79e;
    --primary-300: #f8c36d;
    --primary-400: #f6af3c;
    --primary-500: #f49b0b;
    --primary-600: #c37c09;
    --primary-700: #925d07;
    --primary-800: #613e05;
    --primary-900: #311f02;
    --primary-950: #180f01;
    
    --secondary-50: #eaf2fb;
    --secondary-100: #d4e5f7;
    --secondary-200: #aacbee;
    --secondary-300: #7fb1e6;
    --secondary-400: #5597dd;
    --secondary-500: #2a7dd5;
    --secondary-600: #2264aa;
    --secondary-700: #194b80;
    --secondary-800: #113255;
    --secondary-900: #08192b;
    --secondary-950: #040c15;
    
    --accent-50: #fefae6;
    --accent-100: #fef5cd;
    --accent-200: #fdeb9b;
    --accent-300: #fce169;
    --accent-400: #fbd737;
    --accent-500: #facd05;
    --accent-600: #c8a404;
    --accent-700: #967b03;
    --accent-800: #645202;
    --accent-900: #322901;
    --accent-950: #191501;

    /* Gradients */
    --linearPrimarySecondary: linear-gradient(#F4A31D, #4F92DC);
    --linearPrimaryAccent: linear-gradient(#F4A31D, #FBD836);
    --linearSecondaryAccent: linear-gradient(#4F92DC, #FBD836);
    --radialPrimarySecondary: radial-gradient(#F4A31D, #4F92DC);
    --radialPrimaryAccent: radial-gradient(#F4A31D, #FBD836);
    --radialSecondaryAccent: radial-gradient(#4F92DC, #FBD836);

    /* Typography */
    --fs-1000: 3.75rem;
    --fs-900: 3rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.375rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --ff-header: "Poppins", sans-serif;
    --ff-body: "Poppins", sans-serif;

    --max-width: 1240px;
    --min-width: 375px;
    --border-radius: 8px;
}

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Variation of the following modern CSS reset https://andy-bell.co.uk/a-more-modern-css-reset// */
/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    background-color: var(--clr-body-bg);
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    /* text-wrap: balance; */
    line-height: 1.1;
    font-family: var(--ff-header);
    font-weight: 700;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
picture {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

/* --------------------- */
.content-container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--text-800);
    background: linear-gradient(180deg,
        var(--text-50),
        var(--text-100)
    );
    color: var(--background);
    position: relative;
    overflow: hidden;
}

.outline {
    outline: 1px solid red;
}

.outline-children>* {
    outline: 1px solid blue;
}

.hidden {
    display: none;
}

/* --------------------- */

.icon {
    width: 1rem;
    height: 1rem;
    outline: var(--icon-outline-width, 2px) solid var(--icon-outline-color, none);
    background: var(--icon-bg-color, transparent) var(--icon-bg-image, none) no-repeat center center;
    border: var(--icon-border-width, 2px) solid var(--icon-border-color, none);
    border-radius: var(--icon-border-radius, none);
    box-shadow: 0 20px 20px -10px var(--icon-shadow-color, none);
    color: var(--icon-text-color, inherit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

.post {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    padding: 3rem;
    border-radius: var(--border-radius);
    background: var(--text);
    box-shadow: 0 20px 40px 10px rgb(0, 0, 0, .5);
}

.profile {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;

    & img {
        aspect-ratio: 1 / 1;
        width: 50px;
        border-radius: 50%;
        outline: 4px solid var(--text-700);
    }

    & span {
        font-size: var(--fs-600);
        font-weight: 700;
    }
}

.messages {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: .375rem;
    padding-block: 1rem;
    margin-bottom: 3rem;
    border-top: 2px solid var(--text-700);
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
}

.msg {
    width: max-content;
    padding: 1rem;
    border-radius: var(--border-radius);
    background: rgb(0, 0, 0, .1);
    transition: all .3s linear;
    position: relative;
    left: 0;
}

.msg.move {
    left: 100%;
}

.form-control {
    display: flex;
    width: 100%;
    position: relative;
    background: inherit;
    border-radius: var(--border-radius);
}

.form-control > input,
.form-control > textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    border-radius: var(--border-radius);
    border: 2px solid var(--text-700);
    background: rgb(0, 0, 0, .1);
    color: inherit;
    resize: none;
}

.form-control > span {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: calc(100% - 1rem - 2px);
    user-select: none;
    pointer-events: none;
    transform-origin: bottom left;
    transition: 0.25s;
    color: inherit;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.form-control > input:focus,
.form-control > input:valid,
.form-control > textarea:focus,
.form-control > textarea:valid {
    border-bottom-color: var(--accent);
}

.form-control > input:focus + span,
.form-control > input:valid + span,
.form-control > textarea:focus + span,
.form-control > textarea:valid + span  {
    top: 0;
    transform: translateY(-100%);
    font-size: var(--fs-300);
    background: transparent;
    color: var(--accent);
    padding-inline: 2px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: start;
}

.btn {
    padding: .5rem;
    position: relative;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    inset: 50%;
    border-radius: var(--border-radius);
    background: rgb( 255, 255, 255, .1);
    border: 2px solid transparent;
    transition: all .3s linear;
}

.btn::after {
    content: attr(data-name);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, .125rem);
    white-space: nowrap;
    background: var(--text);
    color: var(--background);
    font-size: 0;
    transition: font .3s linear;
}

.btn:hover::before {
    inset: 0;
}

.btn:hover::after {
    font-size: var(--fs-400);
}


.btn:nth-of-type(1):hover::before {
    border-color: var(--primary);
}

.btn:nth-of-type(2):hover::before {
    border-color: var(--secondary);
}

.btn:nth-of-type(3):hover::before {
    border-color: var(--accent);
}

.icon {
    width: 2rem;
    height: 2rem;
}

#camera {
    fill: var(--primary);
}

#happy {
    fill: var(--accent);
}
#attach {
    stroke: var(--secondary);
}

/* --------------------- */

@media (max-width: 600px) {

}

@media (max-width: 525px) {
}
