@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    /* Colors */
    --clr-body-bg: #202020;
    --text: hsl(221, 16%, 61%);
    --background: hsl(245, 38%, 13%);
    --accent: hsl(199, 63%, 51%);
    --clr-grad-start: hsl(191, 75%, 57%);
    --clr-grad-end: hsl(214, 72%, 58%);

    /* shades */
    --text-50: #f1f2f4;
    --text-100: #e3e6e8;
    --text-200: #c7ccd1;
    --text-300: #abb3ba;
    --text-400: #8f99a3;
    --text-500: #737f8c;
    --text-600: #5c6670;
    --text-700: #454c54;
    --text-800: #2e3338;
    --text-900: #17191c;
    --text-950: #0b0d0e;
    
    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;
    
    --primary-50: #e5f2ff;
    --primary-100: #cce5ff;
    --primary-200: #99caff;
    --primary-300: #66b0ff;
    --primary-400: #3396ff;
    --primary-500: #007bff;
    --primary-600: #0063cc;
    --primary-700: #004a99;
    --primary-800: #003166;
    --primary-900: #001933;
    --primary-950: #000c1a;
    
    --secondary-50: #f1f2f3;
    --secondary-100: #e4e6e7;
    --secondary-200: #c8ccd0;
    --secondary-300: #adb3b8;
    --secondary-400: #9299a0;
    --secondary-500: #778088;
    --secondary-600: #5f666d;
    --secondary-700: #474d52;
    --secondary-800: #2f3337;
    --secondary-900: #181a1b;
    --secondary-950: #0c0d0e;
    
    --accent-50: #eafaee;
    --accent-100: #d6f5dd;
    --accent-200: #adebbb;
    --accent-300: #84e19a;
    --accent-400: #5bd778;
    --accent-500: #32cd56;
    --accent-600: #28a445;
    --accent-700: #1e7b34;
    --accent-800: #145222;
    --accent-900: #0a2911;
    --accent-950: #051509;
    
    

    /* Gradients */

    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 3.5rem;
    --fs-850: 2.5rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --fs-100: clamp(0.625rem, 0.3365rem + 1.2308vw, 0.875rem);
    --ff-header: "Noto Sans", sans-serif;
    --ff-body: "Poppins", sans-serif;

    --border-radius: 1rem;
    --gutter-width: 1rem;
    --container-width: 100%;
    --max-width: 1240px;
    --min-width: 375px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* ul {
    list-style-type: none;
}

* ul a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    line-height: 1.1;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);

    min-block-size: 100svh;
    margin: auto;
    display: grid;
    grid-template-columns: 
        minmax(var(--gutter-width), 1fr)
        min(100% - calc(2 * var(--gutter-width)), var(--container-width))
        minmax(var(--gutter-width), 1fr);

    background: var(--background);
    color: var(--text);
    position: relative;
}

.hidden {
    display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

.btn {
    border-radius: var(--border-radius);
    border: 2px solid var(--btn-border-color, transparent);
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1), border .5s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8), inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    inset: 0 100% 0 0;
    background: var(--btn-hover-bg-color);
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.btn:hover {
    color: var(--btn-hover-text-color, transparent);
    border-color: var(--btn-hover-border-color, transparent);
}

.btn:hover::after {
    inset: 0;
}

/* --------------------- */

#big-menu {
    grid-column: 2 / 3;
    width: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    padding-block: 4rem; /* needed for iCodeThis resize label @ top of screen */
    border-radius: var(--border-radius);
    background: var(--background);
}


main {
    padding: 1rem;
}

header, 
nav {
    background: inherit;
}

.mobile-menu-trigger,
.mobile-menu-back-item,
.mobile-menu-header {
    display: none;
}

 /* Basic styling for the menu bar */
.menu-bar {
    position: relative;
    display: flex;
    gap: 1.25rem;
    justify-content: end;
    background: inherit;
}

.menu-bar > li { 
}

 /* Shared styles for all links */
.menu-bar-link {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1.5rem 0;
    transition: border-color .3s ease-in-out, color .3s ease-in-out;
    position: relative;
}

.menu-bar-link:hover,
.menu-bar-link:focus {
    color: var(--clr-grad-end);
}

.menu-bar-link > i {
    transition: transform .3s ease-in-out;
}

.menu-bar-link:focus > i {
    transform: rotate(-180deg);
}

.menu-bar-link::after {
    content: '';
    position: absolute;
    bottom: .75rem;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 100px;
    background: transparent;
    transition: background .3s ease-in-out;
}

.menu-bar-link:hover::after {
    background: var(--clr-grad-start);
}

.menu-header {
    cursor: default;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    padding-inline: 1.5rem;
}

.menu-bar-link:focus ~ .dropdown-menu,
.dropdown-menu:hover,
.dropdown-menu:focus,
.dropdown-menu:focus-within {
    grid-template-rows: 1fr;
}


 /* Basic styling for the mega menu dropdown */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .5s linear;
}

.dropdown-menu > li {
    overflow: hidden;
    border-radius: var(--border-radius);
}

.dropdown-menu.expanded {
    grid-template-rows: 1fr;
}

.menu-bar img {
    aspect-ratio: 1.5 / 1;
    width: 175px;
    border-radius: var(--border-radius);
}

.mega-menu {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: center;
    padding: 3rem;
    background: linear-gradient(to right, var(--clr-grad-start), var(--clr-grad-end));
    color: var(--background);

}

.mega-menu > li:not(.mobile-menu-back-item) {
    width: 100%;
    display: grid;
    grid-auto-rows: min-content;
    justify-content: center;
    gap: 1rem;
}

.mega-menu > li:not(.mobile-menu-back-item):not(:last-child) {
    border-right: 1px solid hsl(245, 38%, 13%, 30%);
    border-bottom: 1px solid transparent;
}

.menu-list {
    display: grid;
    grid-auto-rows: min-content;
    font-weight: 500;
}

.menu-list > li {
}

.menu-list-link {
    display: grid;
    grid-template-columns: 1rem 1fr;
    align-items: center;
    gap: .5rem;
    width: 100%;
    padding: .5rem 1.5rem;
    min-width: fit-content;
    border-radius: 100px;
    transition: background .3s ease-in-out;
}

.menu-list > li:hover > .menu-list-link,
.menu-list-link:hover {
    background: hsl(0, 0%, 100%, 30%);
}

.menu-informational {
    gap: 1.5rem;

    & p {
        font-weight: 700;
        max-width: 18ch;
    }

    & div {
        display: grid;
        grid-auto-rows: min-content;
        font-size: var(--fs-200);

        & strong {
            font-weight: 700;
        }

    }
}



/* CSS styles for mobile devices */
@media (max-width: 800px) {
    
    .dropdown-menu > li {
        background: linear-gradient(to bottom, var(--clr-grad-start), var(--clr-grad-end));
    }
    
    .mega-menu {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        /* justify-items: start; */
        row-gap: 1rem;
    }

    .mega-menu > li:not(.mobile-menu-back-item) {
        justify-content: start;
    }

    .mega-menu > li:not(.mobile-menu-back-item):not(:last-child) {
        border-right-color: transparent;
    }

    .mega-menu > li:not(.mobile-menu-back-item):not(:last-child) {
        border-bottom-color: hsl(245, 38%, 13%, 30%);
    }

}

@media (max-width: 550px) {

    .mobile-menu-trigger {
        --btn-bg-color: var(--background);
        --btn-text-color: var(--text);
        --btn-border-color: var(--text);
        --btn-hover-bg-color: var(--background);
        --btn-hover-text-color: var(--clr-grad-end);
        --btn-hover-border-color: var(--clr-grad-end);
        box-shadow: none;
        padding: 1.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        margin: auto;
        font-weight: 700;
        text-transform: capitalize;
    }
    
    .menu-bar {
        flex-direction: column;
        justify-content: start;
        gap: 0;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        transition: left .3s linear;
        border: 1px solid var(--text);
        z-index: 1;
    }

    .menu-bar.active {
        left: 0;
    }

    .menu-bar > li {
        padding: 0 1.5rem;
    }

    .mobile-menu-header {
        display: block;
        padding: 0 !important;
    }

    .home {
        width: 100%;
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 1.5rem;
        text-align: left;
        background: var(--text);
        color: var(--background);
        transition: background .3s ease-in-out, color .3s ease-in-out;
    }

    .home:hover {
        background: var(--background);
        color: var(--clr-grad-end);
    }

    .menu-bar-link {
        width: fit-content;
    }

    .menu-bar-link > i {
        display: none;
    }

    .mega-menu {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        justify-items: center;
        padding: 3rem;
        position: fixed;
        left: 100%;
        top: 0;
        height: 100vh;
        width: 100%;
        transition: left .3s;
        z-index: 1;
    }

    .mega-menu.active {
        left: 0;
    }
        
    .mobile-menu-back-item {
        display: block;
        width: 100%;
    }
    
    .mobile-menu-back {
        width: 100%;
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 1.5rem;
        text-align: left;
        border-radius: var(--border-radius);
        color: var(--background);
        border: 2px solid var(--background);
        transition: background .3s ease-in-out, color .3s ease-in-out;
    }

    .mobile-menu-back:hover {
        background: var(--background);
        color: var(--clr-grad-end);
    }

}
