/* Add CSS here */
:root {
    
    /* Colors */
    --clr-body-bg: #202020;
    --text: #000000;
    --background: #FFFFFF;
    --primary: #dd2c31;
    --secondary: #152247;
    --accent: #DF4F45;
    
    
    /* shades */
    --text-50: #f2f2f2;
    --text-100: #e6e6e6;
    --text-200: #cccccc;
    --text-300: #b3b3b3;
    --text-400: #999999;
    --text-500: #808080;
    --text-600: #666666;
    --text-700: #4d4d4d;
    --text-800: #333333;
    --text-900: #1a1a1a;
    --text-950: #0d0d0d;
    
    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;
    
    --primary-50: #fbe9ea;
    --primary-100: #f8d3d4;
    --primary-200: #f1a7aa;
    --primary-300: #ea7b7f;
    --primary-400: #e25054;
    --primary-500: #db242a;
    --primary-600: #af1d21;
    --primary-700: #841519;
    --primary-800: #580e11;
    --primary-900: #2c0708;
    --primary-950: #160404;
    
    --secondary-50: #ebeff9;
    --secondary-100: #d8dff3;
    --secondary-200: #b0bfe8;
    --secondary-300: #899fdc;
    --secondary-400: #627fd0;
    --secondary-500: #3b5fc4;
    --secondary-600: #2f4c9d;
    --secondary-700: #233976;
    --secondary-800: #17264f;
    --secondary-900: #0c1327;
    --secondary-950: #060a14;
    
    --accent-50: #fbeae9;
    --accent-100: #f8d6d3;
    --accent-200: #f0ada8;
    --accent-300: #e9837c;
    --accent-400: #e15a51;
    --accent-500: #da3125;
    --accent-600: #ae271e;
    --accent-700: #831d16;
    --accent-800: #57140f;
    --accent-900: #2c0a07;
    --accent-950: #160504;
    
    
    
    /* Gradients */
    --linearPrimarySecondary: linear-gradient(#dd2c31, #152247);
    --linearPrimaryAccent: linear-gradient(#dd2c31, #DF4F45);
    --linearSecondaryAccent: linear-gradient(#152247, #DF4F45);
    --radialPrimarySecondary: radial-gradient(#dd2c31, #152247);
    --radialPrimaryAccent: radial-gradient(#dd2c31, #DF4F45);
    --radialSecondaryAccent: radial-gradient(#152247, #DF4F45);
    


    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 2.5rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --ff-header: "Open Sans", sans-serif;
    --ff-body: "Open Sans", sans-serif;

    --max-width: 1240px;
    --min-width: 375px;
    --border-radius: 8px;
}

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Variation of the following modern CSS reset https://andy-bell.co.uk/a-more-modern-css-reset// */
/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    background-color: var(--clr-body-bg);
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    /* text-wrap: balance; */
    line-height: 1.1;
    font-family: var(--ff-header);
    font-weight: 700;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
color: currentColor;
}

/* Make images easier to work with */
picture {
    max-width: 100%;
    display: block;
}

/* --------------------- */
.content-container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 1rem;
    background: var(--background);
    background: linear-gradient(125deg,
        var(--primary-50),
        var(--primary-50) 50%,
        var(--secondary-800) 50%,
        var(--secondary-800)
    );
    color: var(--secondary);
    position: relative;
    z-index: 1;
}

.outline {
     outline: 1px solid red;
}
 
.outline-children > * {
     outline: 1px solid blue;
}

/* --------------------- */

.icon {
    width: 1rem;
    height: 1rem;
    outline: var(--icon-outline-width, 2px) solid var(--icon-outline-color, none);
    background: var(--icon-bg-color, transparent) var(--icon-bg-image, none) no-repeat center center;
    border: var(--icon-border-width, 2px) solid var(--icon-border-color, none);
    border-radius: var(--icon-border-radius, none);
    box-shadow: 0 20px 20px -10px var(--icon-shadow-color, none);
    color: var(--icon-text-color, inherit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

.job {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 2.5rem;
    padding: 2.5rem;
    border-radius: var(--border-radius);
    background: var(--background);
    box-shadow: 
        0 0 5px var(--background-50), 
        0 0 10px var(--background-100), 
        0 0 15px var(--background-200);
}

.job > * {
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.logo {
    --icon-bg-image: url("https://github.com/bjohnson112069/web-images/raw/main/Job%20Post/th-3593669560.webp");
    --icon-border-radius: 50%;
    --icon-border-color: var(--accent);
    background-size: 50%;
    width: 100px;
    height: 100px;
}

.title-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    place-items: start;
    gap: .5rem;
}

.title-group > h1 {
    font-size: var(--fs-600);
    font-weight: 700;
}

.title-group > p {
    display: flex;
    align-items: center;
    gap: .25rem;
    color: var(--secondary-500);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}

button {
    outline: none;
    background: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 2px solid var(--secondary);
    border-radius: var(--border-radius);
    width: 100px;
    padding-block: .375rem;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;    
}

button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 100%;
    border-radius: inherit;
    background: var(--primary);
    transform: translateX(-50%);
    transition: width 350ms ease-in-out;
    z-index: -1;
}

button:hover::after {
    width: 110%;
}

button:hover {
    border-color: var(--primary);
    color: var(--background);
}

button[value="apply"] {
    background: var(--secondary);
    color: var(--background);
}

.icon-elipsis {
    width: auto;
    height: auto;
    cursor: pointer;
    transition: color .3s ease-in-out;

}

.icon-elipsis:hover {
    color: var(--primary);
}

main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    border-radius: var(--border-radius);
    background: var(--secondary-50);
}

.panel {
    flex: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    list-style: disc;
    padding: 1.5rem 2rem;
}

.panel > li {
    margin-left: .5rem;
}

li.hdr {
    font-size: var(--fs-300);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--secondary-500);
}

li.empty {
    list-style: none;
    margin-left: -.5rem;
    max-width: 15ch;
}

footer {
    text-align: center;
}

footer > a {
    text-decoration: none;
    transition: color .3s ease-in-out;
}

footer > a:hover {
    color: var(--primary);
}

/* --------------------- */

@media (max-width: 730px) {
    
    main {
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        /* place-items: center; */
    }

    .panel {
        padding: 1rem 2rem;
    }
    
    li.empty {
        max-width: 100%
    }

}

@media (max-width: 475px) {
    .job {
        gap: 1rem;
    }

    header {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-auto-rows: min-content;
        align-items: start;
        justify-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .logo {
        display: none;
    }
    
    .title-group {
        place-items: center;
    }

} 

@media (max-width: 375px) {
} 

