@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    --text: #101010;
    --background: #FFFFFF;
    --primary: #2570EF;
    --secondary: #75f0a9;
    --accent: #57beed;
    
    --text-50: #f2f2f2;
    --text-100: #e6e6e6;
    --text-200: #cccccc;
    --text-300: #b3b3b3;
    --text-400: #999999;
    --text-500: #808080;
    --text-600: #666666;
    --text-700: #4d4d4d;
    --text-800: #333333;
    --text-900: #1a1a1a;
    --text-950: #0d0d0d;
    
    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;
    
    --primary-50: #e7effd;
    --primary-100: #d0e0fb;
    --primary-200: #a0c0f8;
    --primary-300: #71a1f4;
    --primary-400: #4182f1;
    --primary-500: #1262ed;
    --primary-600: #0e4fbe;
    --primary-700: #0b3b8e;
    --primary-800: #07275f;
    --primary-900: #04142f;
    --primary-950: #020a18;
    
    --secondary-50: #e8fcf1;
    --secondary-100: #d1fae2;
    --secondary-200: #a3f5c5;
    --secondary-300: #75f0a8;
    --secondary-400: #47eb8b;
    --secondary-500: #19e66f;
    --secondary-600: #14b858;
    --secondary-700: #0f8a42;
    --secondary-800: #0a5c2c;
    --secondary-900: #052e16;
    --secondary-950: #03170b;
    
    --accent-50: #e8f6fd;
    --accent-100: #d1edfa;
    --accent-200: #a3dbf5;
    --accent-300: #75c9f0;
    --accent-400: #46b7ec;
    --accent-500: #18a5e7;
    --accent-600: #1384b9;
    --accent-700: #0f638a;
    --accent-800: #0a425c;
    --accent-900: #05212e;
    --accent-950: #021117;    

    /* Gradient Colors */
    --clr-grad-1: #101010;
    --clr-grad-2: #232323;
    --clr-grad-3: #373737;
    --clr-grad-4: #232323;
    --clr-grad-5: #101010;

    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 2.5rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --ff-header: "Poppins", sans-serif;
    --ff-body: "Poppins", sans-serif;

    --border-radius: 8px;
    --max-width: 1240px;
    --min-width: 375px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* ul {
    list-style-type: none;
}

* ul a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    background: linear-gradient(90deg, 
        var(--clr-grad-1), 
        var(--clr-grad-2), 
        var(--clr-grad-3), 
        var(--clr-grad-4), 
        var(--clr-grad-5) 
    );
    color: #373232;
}

.container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 1rem;
    background: transparent;
    color: var(--text);
    overflow: hidden;
}

.hidden {
    display: none;
}
/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */
article {
    width: 100%;
    max-width: calc(var(--min-width) - 2rem);
    display: grid;
    grid-auto-rows: auto;
    gap: 1rem;
    padding: 2rem 2.5rem;
    border-radius: var(--border-radius);
    background: var(--background);
}

header {}

h1 {
    font-size: var(--fs-650);
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
}

main {
}

/* List */
.birthdays {
    --item-height: 66px;
    --item-clip: 5;
    display: grid;
    grid-auto-rows: auto;
    max-height: calc(var(--item-clip) * var(--item-height));
    overflow: hidden;
}

.birthdays.list-view {
    overflow-y: scroll;
}

/* List Items */
.birthday {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 
        "avatar name"
        "avatar age";
    align-items: center;
    column-gap: .5rem;
    row-gap: .25rem;
    padding-block: .5rem;
    line-height: 1;
}

.avatar {
    grid-area: avatar;
    aspect-ratio: 1;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    grid-area: name;
    align-self: end;
    font-weight: 700;
}

.age {
    grid-area: age;
    align-self: start;
    font-size: var(--fs-300);
    color: grey;
}

footer {
    display: block;
}

#view-all {
    width: 100%;
    padding-block: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: var(--border-radius);
    background: linear-gradient(90deg,
        var(--primary-600),
        var(--primary-500),
        var(--primary),
        var(--primary-500),
        var(--primary-600)
    );
    color: var(--background);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#view-all::before {
    content: "";
    position: absolute;
    inset: 100% 0% 0% 0%;
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    background: linear-gradient(90deg, 
        var(--clr-grad-1), 
        var(--clr-grad-2), 
        var(--clr-grad-3), 
        var(--clr-grad-4), 
        var(--clr-grad-5) 
    );
    z-index: -1;
}

#view-all:hover::before {
    inset: 0;
}

/* CSS styles for mobile devices */
@media (max-width: 700px) {
}

