/* --------------------- */
/* Custom Properties     */
/* --------------------- */

:root {
     /* colors */
     --clr-dark: 230 35% 7%;
     /* --clr-white--off: 207 194% 112%; */
     --clr-white--off: 52 50% 63%;
     --clr-neutral--dark: 48 23% 79%;
     /* --clr-neutral--blue: 231 24% 40%; */
     --clr-neutral--blue: 205 97% 15%;
     --clr-green: 79 34% 52%;
     --clr-plum: 305 44% 21%;
     --clr-white: 0 0% 100%;
     /* font-sizes: Mobile */
     --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
     --fs-800: 3.5rem;
     --fs-700: 1.5rem;
     --fs-600: 1rem;
     --fs-500: 1rem;
     --fs-400: 0.9375rem;
     --fs-300: 1rem;
     --fs-200: 0.875rem;
     /* font-families */
     --ff-serif: "Aleo", serif;
     --ff-sans-serif: "Oswald", sans-serif;
     /* --ff-serif: "Bellefair", serif; */
     /* --ff-sans-cond: "Barlow Condensed", sans-serif; */
     /* --ff-sans-serif: "Barlow", sans-serif; */
     /* font-weights */
     --fw-400: 400;
     --fw-300: 300;
     --fw-700: 700;
     /* Custom Properties */
}

/* Tablet 560px */
@media (min-width: 35em) {
     :root {
          /* font-sizes: Tablet */
          --fs-800: 5rem;
          --fs-700: 2.5rem;
          --fs-600: 1.5rem;
          --fs-400: 1rem;
          --fs-500: 1.25rem;
     }
}
/* large Sizes */
@media (min-width: 45em) {
     :root {
          /* font-sizes: Desktop */
          --fs-800: 6.25rem;
          --fs-700: clamp(2rem, 3vw + 1rem, 3.5rem);
          /* --fs-700: 3.5rem; */
          --fs-600: 2rem;
          --fs-500: 1.75rem;
          --fs-400: 1.125rem;
     }
}

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Variation of the following modern CSS reset https://piccalil.li/blog/a-modern-css-reset/ */

/* Box Sizing */
*,
*::before,
*::after {
     box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
     margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
     font-weight: var(--fw-400);
}

/* set up the body */
body {
     font-family: var(--ff-serif);
     font-size: var(--fs-400);
     /* background-color: hsl(var(--clr-dark)); */
     /* background-image: linear-gradient(135deg, hsl(var(--clr-green) / 0.5), hsl(var(--clr-neutral--blue) / 0.75)); */
     /* color: hsl(var(--clr-dark)); */
     line-height: 1.5;
     min-height: 100vh;

     display: grid;
     /* stretch header and main-content to fit the min-height*/
     grid-template-rows: min-content 1fr;

     /* prevent side-scrolling for animations */
     overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
     max-width: 100%;
     /* border-radius: 10px; */
     /* display: block overrides default behavior of hidden attribute for picture element */
     /* display: block; */
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
     font: inherit;
}

[hidden] {
     display: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
     *,
     *::before,
     *::after {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
     }
}

/* --------------------- */
/* Utility Classes       */
/* --------------------- */

/* general */

.flex {
     display: flex;
     gap: var(--gap, 1rem);
     /* outline: 3px solid red; */
}

.grid {
     display: grid;
     gap: var(--gap, 1rem);
}

.d-block {
     display: block;
}
.d-inline-block {
     display: inline-block;
}

/* select all adjacent siblings that come before it; select all but 1st child */
/* "> * + *" */
/* "> *:not(:first-child)" has specificity problems */
/* "> *:where(:not(:first-child))" where does not add any specificity so you can overwrite*/
.flow--vertical > *:where(:not(:first-child)) {
     margin-top: var(--flow-space, 1rem);
     /* outline: 1px solid red; */
}

.flow--space-small {
     --flow-space: 0.75rem;
}

.container {
     padding-inline: 2em; /* new property left/right */
     margin-inline: auto; /* new property left/right */
     max-width: 80rem;
}

/* screen reader only; keeps it in the DOM but is not visible */
.sr-only {
     position: absolute;
     width: 1px;
     height: 1px;
     padding: 0;
     margin: -1px;
     overflow: hidden;
     clip: rect(0, 0, 0, 0);
     white-space: nowrap; /* added line */
     border: 0;
}

/* colors */

.bg-dark {
     background-color: hsl(var(--clr-dark));
}
.bg-white--off {
     background-color: hsl(var(--clr-white--off));
}
.bg-neutral--dark {
     background-color: hsl(var(--clr-neutral--dark));
}
.bg-neutral--blue {
     background-color: hsl(var(--clr-neutral--blue));
}
.bg-green {
     background-color: hsl(var(--clr-green));
}
.bg-plum {
     background-color: hsl(var(--clr-plum));
}
.bg-white {
     background-color: hsl(var(--clr-white));
}

.text-dark {
     color: hsl(var(--clr-dark));
}
.text-white {
     color: hsl(var(--clr-white));
}
.text-white--off {
     color: hsl(var(--clr-white--off));
}
.text-neutral--dark {
     color: hsl(var(--clr-neutral--dark));
}
.text-neutral--blue {
     color: hsl(var(--clr-neutral--blue));
}
.text-green {
     color: hsl(var(--clr-green));
}
.text-plum {
     color: hsl(var(--clr-plum));
}

.border-plum {
     border: 3px solid hsl(var(--clr-plum));
}

/* .alpha-20 {
     background-color: hsl(var(--clr-light) / 0.2);
} */

/* typography */

.ff-serif {
     font-family: var(--ff-serif);
}
.ff-sans-cond {
     font-family: var(--ff-sans-cond);
}
.ff-sans-serif {
     font-family: var(--ff-sans-serif);
}

.letter-spacing-1 {
     letter-spacing: 4.75px;
}
.letter-spacing-2 {
     letter-spacing: 2.7px;
}
.letter-spacing-3 {
     letter-spacing: 2.35px;
}

.uppercase {
     text-transform: uppercase;
}

.fs-900 {
     font-size: var(--fs-900);
}
.fs-800 {
     font-size: var(--fs-800);
}
.fs-700 {
     font-size: var(--fs-700);
}
.fs-600 {
     font-size: var(--fs-600);
}
.fs-500 {
     font-size: var(--fs-500);
}
.fs-400 {
     font-size: var(--fs-400);
}
.fs-300 {
     font-size: var(--fs-300);
}
.fs-200 {
     font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
     line-height: 1.1;
}

.fw-light {
     font-weight: var(--fw-300);
}

.fw-regular {
     font-weight: var(--fw-400);
}

.fw-bold {
     font-weight: var(--fw-700);
}

/* --------------------- */
/* Components            */
/* --------------------- */



.logo {
     width: 5em;
     height: auto;
     display: block;
     /*margin: auto 0;*/
     margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.button {
     display: inline-block;
     text-decoration: none;
     padding: .75rem 1.5rem;
     border-radius: 10px;
     background-color: none;
}

.button:hover{
     animation: pulsate 2s ease-in-out;
     background-color: hsl(var(--clr-neutral--blue));
     color: hsl(var(--clr-white--off) / 1);
}

@keyframes pulsate {
     0% {
          box-shadow: 0 0 25px hsl(var(--clr-plum)), 0 0 50px hsl(var(--clr-white));
     }
}

@keyframes pulsate-text {
     0% {
          text-shadow: 5px 5px 10px hsl(var(--clr-white)), -5px -5px 15px hsl(var(--clr-white));
     }
}
/* default values for navigation bar */
.primary-navigation {
     --gap: clamp(1.5rem, 5vw, 3.5rem);
     --underline-gap:1em;
     list-style: none;
     padding: 0;
     margin: 0;
     background-color: hsl(var(--clr-dark) / 0);
     align-items: center;
}

/* must include BOTH the property and the value */
@supports (backdrop-filter: blur(1.5rem)) {
     .primary-navigation {
          background-color: hsl(var(--clr-white) / 0.04);
          backdrop-filter: blur(1.5rem);
     }
}

.primary-navigation a {
     text-decoration: none;
     /* color: inherit; */
}

.primary-navigation a > span {
     margin-right: 0.5em;
     font-weight: var(--fw-700);
}

.mobile-nav-toggle {
     display: none;
}

/* override defaults for mobile using max-width */
@media (max-width: 35rem) {
     .primary-navigation {
          --underline-gap: 0.5em;
          position: fixed;
          z-index: 1000;
          inset: 0 0 0 30%; /* short-hand for top, right, bottom, left */
          list-style: none;
          padding: min(20rem, 15vh) 2rem;
          margin: 0;
          flex-direction: column;
          transform: translateX(100%);
          transition: transform 500ms ease-in-out;
     }

     /* modify underline-indicators for pimrary-navigation w/in this media query (e.g. mobile) */
     .primary-navigation.underline-indicators > .active {
          border: 0;
     }

     .primary-navigation[data-visible="true"] {
          transform: translateX(0);
     }

     .mobile-nav-toggle {
          display: block;
          position: absolute;
          z-index: 2000;
          right: 1rem;
          top: 2rem;
          background: transparent;
          border: 0;
          background-image: url(./assets/shared/icon-hamburger.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 1.5rem;
          aspect-ratio: 1;
          cursor: pointer;
     }

     .mobile-nav-toggle[aria-expanded="true"] {
          background-image: url(./assets/shared/icon-close.svg);
     }

     .mobile-nav-toggle:focus-visible {
          outline: 5px solid white;
          outline-offset: 5px;
     }
}

@media (min-width: 35em) {
     .primary-navigation {
          padding-inline: clamp(3rem, 7vw, 7rem);
     }
}

@media (min-width: 35em) and (max-width: 44.999em) {
     .primary-navigation a > span {
          display: none;
     }
}

@media (min-width: 45em) {
     .primary-navigation {
          margin-block: 2rem;
     }
}

/* --------------------- */
/* Layout                */
/* --------------------- */

.grid-container {
     display: grid;
     text-align: center;
     place-items: center; /* place-contents will stack them together in the middle */
     padding-inline: 1rem;
     padding-bottom: 4rem;
}

.underline-indicators > * {
     cursor: pointer;
     padding: var(--underline-gap, 0.5rem) 0;
     border: 0;
     border-bottom: 0.35rem solid hsl(var(--clr-green) / 0);
     background-color: transparent;
     border-style: ridge;
}

.underline-indicators > *:hover:not(:last-child),
.underline-indicators > *:focus:not(:last-child) {
     border-color: hsl(var(--clr-green) / 0.5);
}

.underline-indicators > *.active,
.underline-indicators > [aria-selected="true"] {
     color: hsl(var(--clr-white--off) / 1);
     border-color: hsl(var(--clr-green) / 1);
}

/* --------------------- */
/* About Section         */
/* --------------------- */

#main--about {
     flex-direction: column;
     align-items: center;
     --gap: 0;
}

#main--about p {
     /* text-align: center; */
}

.hero-img {
     max-width: 35rem;
}


.hero-img:nth-of-type(2) {
     max-width: 35rem;
}


/* primary-header */
.primary-header {
     justify-content: space-between;
     align-items: center;
     /* 
     background-image: linear-gradient(to bottom,
          hsl(var(--clr-neutral--blue) / 0.75), 
          hsl(var(--clr-neutral--blue) / 0.50), 
          hsl(var(--clr-neutral--blue) / 0.25), 
          hsl(var(--clr-white--off) / 0.50));
     */
     background-image: linear-gradient(to bottom, 
          hsl(var(--clr-neutral--blue) / 0.75), 
          hsl(var(--clr-neutral--blue) / 0.50) 100%);
}

#welcome {
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 90vh;
     /* background-image: linear-gradient(to bottom left,  hsl(var(--clr-neutral--blue) / 0.75), hsl(var(--clr-green) / 0.5)); */
     /* background-image: linear-gradient(to bottom left,  hsl(var(--clr-neutral--blue) / 0.75), transparent); */
     /* background-image: radial-gradient(circle at top left, hsl(var(--clr-green) / 0.5) 25%, transparent), radial-gradient(circle at top left, transparent, hsl(var(--clr-neutral--blue) / 1) 75%), linear-gradient(to bottom,  transparent, hsl(var(--clr-white) / 1) 75%); */
     background-image: linear-gradient(to bottom, hsl(var(--clr-neutral--blue) / 0.50) 10%, hsl(var(--clr-neutral--blue) / 1) 100%);


}

#about {
     flex-direction: column;
     align-items: center;
     width: 100%;
     /* height: 50vh; */
     background-image: linear-gradient(to bottom, hsl(var(--clr-neutral--blue) / 0.8) 0%, hsl(var(--clr-neutral--blue) / 1) 100%);
     padding: 2rem 0;
}

#footer-navigation {
     flex-direction: column;
     --gap: 1rem;
}

#footer-navigation a {
     color: inherit;
}

#footer-navigation > *:hover,
#footer-navigation > *:focus {
     font-weight: var(--fw-700);
     transform: scalex(1.2);
}

#footer-navigation > *.active,
#footer-navigation > [aria-selected="true"] {
     transform: scalex(1.2);
     color: hsl(var(--clr-neutral--dark) / 1);
     background-color: hsl(var(--clr-plum) / 1);
}

.profile--card {
     position: relative;
     overflow: hidden;
     margin: 10px;
     min-width: 230px;
     max-width: 315px;
     width: 100%;
     text-align: left;
     line-height: 1.4em;
     background-color: hsl(var(--clr-dark));
   }
   .profile--card img {
     max-width: 100%;
     vertical-align: top;
     opacity: 0.85;
   }
   .profile--card figcaption {
     width: 100%;
     background-color: hsl(var(--clr-dark));
     padding: 25px;
     position: relative;
     flex-direction: column;
     align-items: start;
   }
   .profile--card figcaption:before {
     position: absolute;
     content: '';
     bottom: 100%;
     left: 0;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 55px 0 0 400px;
     border-color: transparent transparent transparent hsl(var(--clr-dark));
   }
   .profile--card figcaption a {
     display: inline-block;
     opacity: 0.65;
     text-align: center;
     text-decoration: none;
     font-weight: 600;
     letter-spacing: 1px;
     animation: pulsate 2s ease-in-out infinite;
   }
   .profile--card figcaption a:hover {
     opacity: 1;
   }
   .profile--card figcaption > div > span {
        background: none;
        margin-left: 1rem;
        align-self: center;
        animation: pulsate-text 2s ease-in-out infinite;
     }
   
   .profile--card i {
        display: inline;
   }
   .profile--card .profile {
     border-radius: 50%;
     position: absolute;
     bottom: 100%;
     left: 25px;
     z-index: 1;
     max-width: 90px;
     opacity: 1;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
   }
   .profile--card ul {
     padding: 1rem;
   }
   .profile--card .contact {
     align-self: center;
   }
