/* --------------------- */
/* Custom Properties     */
/* --------------------- */

:root {
     /* colors */
     --clr-green: #65A76D;
     --clr-blue: #2E879F;
     --clr-brown: #AB8259;
     --clr-yellow: #E9C993;
     --clr-grey: #534F46;
     /* --clr-plum: #4D1E49; */
     --clr-plum: #5F3450;
     --clr-white: 0 0% 100%;

     /* font-sizes: Mobile */
     --fs-900: clamp(5rem, 8vw + 1rem, 8.75rem);
     --fs-800: 3.5rem;
     --fs-700: 1.5rem;
     --fs-600: 1rem;
     --fs-500: 1rem;
     --fs-400: 0.9375rem;
     --fs-300: 1rem;
     --fs-200: 0.875rem;
     /* font-families */
     --ff-cursive: 'Bebas Neue', cursive;
     --ff-sans-serif: "Montserrat", sans-serif;
     --ff-serif-header: 'Cinzel', serif;
     --ff-serif-body: 'Lora', serif;
     /* --ff-serif: "Bellefair", serif; */
     /* --ff-sans-cond: "Barlow Condensed", sans-serif; */
     /* --ff-sans-serif: "Barlow", sans-serif; */
     /* font-weights */
     --fw-400: 400;
     --fw-300: 300;
     --fw-700: 700;
     /* Custom Properties */
}

/* Tablet 560px */
@media (min-width: 35em) {
     :root {
          /* font-sizes: Tablet */
          --fs-800: 5rem;
          --fs-700: 2.5rem;
          --fs-600: 1.5rem;
          --fs-400: 1rem;
          --fs-500: 1.25rem;
     }
}
/* large Sizes */
@media (min-width: 45em) {
     :root {
          /* font-sizes: Desktop */
          --fs-800: 6.25rem;
          --fs-700: clamp(2rem, 3vw + 1rem, 3.5rem);
          /* --fs-700: 3.5rem; */
          --fs-600: 2rem;
          --fs-500: 1.75rem;
          --fs-400: 1.125rem;
     }
}

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Variation of the following modern CSS reset https://piccalil.li/blog/a-modern-css-reset/ */

/* Box Sizing */
*,
*::before,
*::after {
     box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
     margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
     font-weight: var(--fw-400);
}

/* set up the body */
body {
     /* font-family: var(--ff-sans-serif); */
     font-size: var(--fs-400);
     line-height: 1.5;
     min-width: 360px;
     min-height: 100vh;
     background-color: black;
     /* prevent side-scrolling for animations */
     overflow-x: hidden;
     margin: 0 auto;
}

/* make images easier to work with */
img,
picture {
     max-width: 100%;
     /* border-radius: 10px; */
     /* display: block overrides default behavior of hidden attribute for picture element */
     /* display: block; */
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
     font: inherit;
}

/* set default styling for anchors */
a {
     text-decoration: none;
     color: inherit;
}

[hidden] {
     display: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
     *,
     *::before,
     *::after {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
     }
}

/* --------------------- */
/* Utility Classes       */
/* --------------------- */

/* general */

.flex {
     display: flex;
     gap: var(--gap, 1rem);
     /* outline: 3px solid red; */
}

.grid {
     display: grid;
     gap: var(--gap, 1rem);
}

.d-block {
     display: block;
}
.d-inline-block {
     display: inline-block;
}

.content-container {
     --gap: 0;
     max-width: 90%;
     /* stretch header and main-content to fit the min-height*/
     grid-template-rows: min-content 1fr;
     /* min-height: 100vh; */
     /* margin: 0 auto; */
     min-height: 100vh;
     margin: 0 auto;
}

/* select all adjacent siblings that come before it; select all but 1st child */
/* "> * + *" */
/* "> *:not(:first-child)" has specificity problems */
/* "> *:where(:not(:first-child))" where does not add any specificity so you can overwrite*/
.flow--vertical > *:where(:not(:first-child)) {
     margin-top: var(--flow-space, 1rem);
     /* outline: 1px solid red; */
}

.flow--space-small {
     --flow-space: 0.75rem;
}


/* screen reader only; keeps it in the DOM but is not visible */
.sr-only {
     position: absolute;
     width: 1px;
     height: 1px;
     padding: 0;
     margin: -1px;
     overflow: hidden;
     clip: rect(0, 0, 0, 0);
     white-space: nowrap; /* added line */
     border: 0;
}

/* colors */
.bg-green {
     background-color: var(--clr-green);
}
.bg-blue {
     background-color: var(--clr-blue);
}
.bg-brown {
     background-color: var(--clr-brown);
}
.bg-yellow {
     background-color: var(--clr-yellow);
}
.bg-grey {
     background-color: var(--clr-grey);
}
.bg-plum {
     background-color: var(--clr-plum);
}
.bg-white {
     background-color: hsl(var(--clr-white));
}

.text-green {
     color: var(--clr-green);
}
.text-blue {
     color: var(--clr-blue);
}
.text-brown {
     color: var(--clr-brown);
}
.text-yellow {
     color: var(--clr-yellow);
}
.text-grey {
     color: var(--clr-grey);
}
.text-white {
     color: hsl(var(--clr-white));
}
.text-plum {
     color: var(--clr-plum);
}




/* .alpha-20 {
     background-color: hsl(var(--clr-light) / 0.2);
} */

/* typography */

.ff-serif {
     font-family: var(--ff-serif);
}
.ff-serif-header {
     font-family: var(--ff-serif-header);
}
.ff-serif-body {
     font-family: var(--ff-serif-body);
}
.ff-cursive {
     font-family: var(--ff-cursive);
}
.ff-sans-serif {
     font-family: var(--ff-sans-serif);
}

.letter-spacing-1 {
     letter-spacing: 4.75px;
}
.letter-spacing-2 {
     letter-spacing: 2.7px;
}
.letter-spacing-3 {
     letter-spacing: 2.35px;
}

.uppercase {
     text-transform: uppercase;
}

.capitalize {
     text-transform: capitalize;
}

.fs-900 {
     font-size: var(--fs-900);
}
.fs-800 {
     font-size: var(--fs-800);
}
.fs-700 {
     font-size: var(--fs-700);
}
.fs-600 {
     font-size: var(--fs-600);
}
.fs-500 {
     font-size: var(--fs-500);
}
.fs-400 {
     font-size: var(--fs-400);
}
.fs-300 {
     font-size: var(--fs-300);
}
.fs-200 {
     font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
     line-height: 1.1;
}

.fw-light {
     font-weight: var(--fw-300);
}

.fw-regular {
     font-weight: var(--fw-400);
}

.fw-bold {
     font-weight: var(--fw-700);
}

/* --------------------- */
/* Components            */
/* --------------------- */


.primary-header {
     /* justify-content: space-between; */
     align-items: center;
     border-radius: 10px;
     box-shadow: 0px 10px 25px black;
}


.logo {
     width: 5em;
     height: auto;
     display: block;
     margin-left: 1rem;
     /*margin: auto 0;*/
     /* margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem); */
}


/* default values for navigation bar */
.primary-navigation {
     --gap: clamp(1.5rem, 5vw, 3.5rem);
     --underline-gap: 2em;
     list-style: none;
     padding: 0;
     margin: 0;
     background-color: hsl(var(--clr-dark) / 0.9);
}

.primary-navigation > *:hover {
     color: var(--clr-yellow);
}

.primary-navigation > *.active {
     color: var(--clr-plum);
}

.button {
     text-align: center;
     display: inline-grid;
     z-index: 1;
     place-items: center; /* center items; reason for display:gride */
     padding: 0 .75em;
     aspect-ratio: 1; /* perfect square same as 1/1 */
     text-decoration: none;
     border-radius: 50%;
     max-width: 10.625rem;
}



/* --------------------- */
/* Layout                */
/* --------------------- */

.grid--main {
     --gap: 0;
     grid-auto-flow: column;
     grid-auto-columns: 1fr;
     padding-top: 5rem;
}

.content-wrapper {
     /* place-items: center; */
     align-items: center;
     justify-items: center;
     align-content: start;
     /* margin: auto 0; */
     /* outline: 1px solid red; */
}

.content-wrapper:nth-of-type(1) {
}

.image-wrapper {
     width: 100%;
     height: 100%;
}

.image-wrapper img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.content-wrapper:nth-of-type(2) {
     --gap: 1rem;
     justify-items: start;
}

#contact-me {
     justify-self: start;
     place-items: center;
     /* grid-auto-flow: column; */
}

#contact-me > img {
     margin-top: 5rem;
}

#contact-me > img:nth-of-type(1) {
     animation: move-right 2s ease-in-out infinite;
}
#contact-me > img:nth-of-type(2) {
     animation: move-left 2s ease-in-out infinite;
}


@keyframes move-right {
     0% {
          transform: translateX(-10%);
     }
}
@keyframes move-left {
     0% {
          transform: translateX(10%);
     }
}

.cta {
     background-image: radial-gradient(var(--clr-plum), black 75%);
     box-shadow: 0px 10px 50px var(--clr-plum);
     /* background-image: radial-gradient(var(--clr-yellow), var(--clr-brown) 75%); */
     /* box-shadow: 0px 10px 50px var(--clr-brown); */
}

.cta:hover {
     background-image: radial-gradient(white, var(--clr-yellow) 75%);
     color: var(--clr-plum);
}

.content-wrapper > * {
     /* outline: 1px solid red; */
}



/* override defaults for mobile using max-width */
@media (max-width: 35rem) {
     .primary-navigation {
          --underline-gap: 0.5em;
          position: fixed;
          z-index: 1000;
          inset: 0 0 0 30%; /* short-hand for top, right, bottom, left */
          list-style: none;
          padding: min(20rem, 15vh) 2rem;
          margin: 0;
          flex-direction: column;
          transform: translateX(100%);
          transition: transform 500ms ease-in-out;
     }

     .primary-navigation[data-visible="true"] {
          transform: translateX(0);
     }

     .mobile-nav-toggle {
          display: block;
          position: absolute;
          z-index: 2000;
          right: 1rem;
          top: 2rem;
          background: transparent;
          border: 0;
          background-image: url(./assets/shared/icon-hamburger.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 1.5rem;
          aspect-ratio: 1;
          cursor: pointer;
     }

     .mobile-nav-toggle[aria-expanded="true"] {
          background-image: url(./assets/shared/icon-close.svg);
     }

     .mobile-nav-toggle:focus-visible {
          outline: 5px solid white;
          outline-offset: 5px;
     }

     .grid--main {
          grid-auto-flow: row;
          grid-auto-rows: 1fr;
     }
     
     .content-wrapper:nth-of-type(2) {
          justify-items: center !important;
     }     
     .content-wrapper:nth-of-type(2) > div {
          text-align: center !important;
     }
}

@media (min-width: 35em) {
     .primary-navigation {
          padding-inline: clamp(3rem, 7vw, 7rem);
     }
}

@media (min-width: 35em) and (max-width: 44.999em) {
     .primary-navigation a > span {
          display: none;
     }
}

@media (min-width: 45em) {
     .primary-navigation {
          margin-block: 2rem;
     }
}