@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
    /* Colors */
    --text: hsl(0, 0%, 17%);
    --background: hsl(0, 0%, 100%);
    --primary: hsl(0, 92%, 36%);
    

    /* shades */
    --text-50: hsl(0, 0%, 95%);
    --text-100: hsl(0, 0%, 90%);
    --text-200: hsl(0, 0%, 80%);
    --text-300: hsl(0, 0%, 70%);
    --text-400: hsl(0, 0%, 60%);
    --text-500: hsl(0, 0%, 50%);
    --text-600: hsl(0, 0%, 40%);
    --text-700: hsl(0, 0%, 30%);
    --text-800: hsl(0, 0%, 20%);
    --text-900: hsl(0, 0%, 10%);
    --text-950: hsl(0, 0%, 5%);

    --background-50: hsl(0, 0%, 95%);
    --background-100: hsl(0, 0%, 90%);
    --background-200: hsl(0, 0%, 80%);
    --background-300: hsl(0, 0%, 70%);
    --background-400: hsl(0, 0%, 60%);
    --background-500: hsl(0, 0%, 50%);
    --background-600: hsl(0, 0%, 40%);
    --background-700: hsl(0, 0%, 30%);
    --background-800: hsl(0, 0%, 20%);
    --background-900: hsl(0, 0%, 10%);
    --background-950: hsl(0, 0%, 5%);

    --primary-50: hsl(0, 92%, 95%);
    --primary-100: hsl(0, 92%, 90%);
    --primary-200: hsl(0, 92%, 80%);
    --primary-300: hsl(0, 92%, 70%);
    --primary-400: hsl(0, 92%, 60%);
    --primary-500: hsl(0, 92%, 50%);
    --primary-600: hsl(0, 92%, 40%);
    --primary-700: hsl(0, 92%, 30%);
    --primary-800: hsl(0, 92%, 20%);
    --primary-900: hsl(0, 92%, 10%);
    --primary-950: hsl(0, 92%, 5%);

    /* Gradients */

    /* Typography */
    --fs-1000: clamp(2.5rem, -1.61290322580645rem + 12.9032258064516vw, 10rem);
    --fs-1000: 10rem;
    --fs-900: 3rem;
    --fs-850: 2.5rem;
    --fs-800: 2rem;
    --fs-750: 1.875rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-625: 1.375rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --fs-100: clamp(0.625rem, 0.3365rem + 1.2308vw, 0.875rem);
    --ff-header: "Inter", sans-serif;
    --ff-body: "Inter", sans-serif;

    --border-radius: 6px;
    --gutter-width: 2rem;
    --container-width: 1440px;
    --max-width: 100%;
    --min-width: 375px;
}

/* CSS Reset  */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

p,
figcaption {
    text-wrap: pretty;
    max-width: 70ch;
}

img {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    line-height: 1.1;
    text-wrap: balance;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

select {
    appearance: none;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

  /* For IE10 */
select::-ms-expand {
    display: none;
}

/* Container queries */
body > :is(header, footer),
main,
section, 
article {
    /* container-type: inline-size; */
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);

    min-block-size: 100svh;
    margin: auto;
    display: grid;
    grid-auto-rows: min-content;

    background: var(--background);
    color: var(--text);
    position: relative;
}


.hidden {
    display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.disable-scrolling {
    overflow-y: hidden;
}

/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

.btn {
    border-radius: var(--border-radius);
    border: 2px solid var(--btn-border-color, transparent);
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1), border .5s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8), inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8);
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    inset: 100%;
    background: var(--btn-hover-bg-color);
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
    border-radius: inherit;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: var(--btn-hover-text-color, transparent);
    border-color: var(--btn-hover-border-color, transparent);
}

.btn:hover::after,
.btn:active::after,
.btn:focus {
    inset: 0;
}

.faded {
    position: relative;
}

.faded::after {
    content: '';
    position: absolute;
    inset: 0;
}

.faded-all:after {
    box-shadow: inset 0 0 2rem 2rem var(--image-fade--clr, transparent);
}

.faded-top-right::after {
    /* --image-fade--clr: red; */
    box-shadow: inset -6rem 2rem 6rem 0rem var(--image-fade--clr, transparent);
}

.faded-top-left::after {
    box-shadow: inset 2rem 2rem 2rem 0rem var(--image-fade--clr, transparent);
}

.faded-bottom-right::after {
    box-shadow: inset -2rem -2rem 2rem 0rem var(--image-fade--clr, transparent);    
}

.faded-bottom-left::after {
    box-shadow: inset 2rem -2rem 2rem 0rem var(--image-fade--clr, transparent);
}

/* --------------------- */

html, body { height: auto; }

section {
    height: 100vh;
    background-color: black;
}

#section__experience {
    display: grid;
    grid-template-rows: min-content 1fr;
    background-color: var(--background);
    color: var(--text);
}

.section__title {
    padding-block: 1.5rem;
    justify-self: center;
    & h1 {
        --fs-850: clamp( 2rem, 1.823943661971831rem + 0.7511737089201878vw, 2.5rem );
        font-size: var(--fs-850);
        font-weight: 700;
        text-align: center;
        color: var(--primary);
        text-transform: uppercase;
    }

    & p {
        margin-top: 1rem;
        --fs-600: clamp( 1rem, 0.9119718309859155rem + 0.3755868544600939vw, 1.25rem );
        max-width: 70ch;
        font-size: var(--fs-600);

        & a {
            font-weight: 700;
            text-decoration: underline;
            transition: color .3s ease-in-out;
        }

        & a:hover {
            color: var(--text-500);
        }
    }
}

.panels {
    width: 100%;
    height: 100%;
    position: relative;
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column; */
    padding:2em;
    /* text-transform:uppercase; */
    /* text-shadow:2px 2px 4px rgb(0,0,0,0.3); */
    background-color: var(--background);
}

.panel:nth-of-type(2n) {
    background: var(--background-50);
}
.event {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 1rem;
}

.event__header {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: start;
    gap: 1rem;
}

.icon {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.sprite {
    aspect-ratio: 1;
    width: 5rem;
    display: grid;
    place-items: center;
    font-size: 2rem;
    border-radius: 50%;
    box-shadow:
        inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8),
        inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8),
        0px 5px 10px -2px rgb(0, 0, 0, 0.5);
    background: radial-gradient(circle at center, var(--background), hsl(0, 0%, 0%, 10%)), var(--background);
    padding: .5rem;
    overflow: hidden;
}


.marquee__logo {
    width: 100%;
    height: 100%;
}

symbol path {
    fill: var(--primary);
}


.date {
    min-width: max-content;
    font-size: 3rem;
    font-weight: 900;
    padding: 1.25rem;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--text);
    color: var(--background);
    border-radius: var(--border-radius);
    box-shadow:
        inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8),
        inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8),
        0px 5px 10px -2px rgb(0, 0, 0, 0.5);
}

.event__details {
    display: grid;
    grid-auto-rows: min-content;
    padding: 1.25rem;
    box-shadow:
        inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8),
        inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8),
        0px 5px 10px -2px rgb(0, 0, 0, 0.5);
}


.job-title,
.company-name,
.description {
    font-size: inherit;
    line-height: 1.5;
}

.job-title,
.company-name {
    text-transform: uppercase;
}

.job-title {
    font-weight: 700;
    color: var(--primary);
}

.company-name {
    font-size: var(--fs-300);
    font-weight: var(--fw-500);
}

.description {
    margin-block: 1rem;
    max-width: 70ch;
}

.view-more-button {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 700;
    background: transparent;
    transition: color .3s ease-in-out;
}

.view-more-button:hover {
    color: var(--text-400);
}

.view-more-button > i {
    transition: transform .3s linear;
}

.view-more-button.expanded {
    color: var(--primary);
}

.view-more-button.expanded > i {
    transform: rotate(.5turn);
}

.more__information {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .5s linear;
    max-width: 70ch;
}

.more__information > .more__information--list {
    overflow: hidden;
}

.view-more-button.expanded ~ .more__information {
    grid-template-rows: 1fr;
    padding-block: .75rem;
}

.more__information--list {
    display: grid;
    grid-auto-rows: min-content;
}

.more__information--list > li:not(:last-child) {
    padding-block: .25rem;
    border-bottom: 1px solid hsl(0, 0%, 0%, 30%);
}


/* CSS styles for mobile devices */
@media (max-width: 875px) {

}
