@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    --text: #0a0f14;
    --background: #F2F8FD;
    --primary: #3759CD;
    --secondary: #b2aad3;
    --accent: #9179ba;
    
    --text-50: #eef2f6;
    --text-100: #dde6ee;
    --text-200: #bbccdd;
    --text-300: #99b2cc;
    --text-400: #7799bb;
    --text-500: #557faa;
    --text-600: #446688;
    --text-700: #334c66;
    --text-800: #223344;
    --text-900: #111922;
    --text-950: #090d11;
    
    --background-50: #e9f3fc;
    --background-100: #d3e7f8;
    --background-200: #a7d0f1;
    --background-300: #7bb8ea;
    --background-400: #4fa0e3;
    --background-500: #2289dd;
    --background-600: #1c6db0;
    --background-700: #155284;
    --background-800: #0e3758;
    --background-900: #071b2c;
    --background-950: #030e16;
    
    --primary-50: #ebeefa;
    --primary-100: #d6ddf5;
    --primary-200: #adbceb;
    --primary-300: #859ae0;
    --primary-400: #5c78d6;
    --primary-500: #3357cc;
    --primary-600: #2945a3;
    --primary-700: #1f347a;
    --primary-800: #142352;
    --primary-900: #0a1129;
    --primary-950: #050914;
    
    --secondary-50: #f0eef6;
    --secondary-100: #e1ddee;
    --secondary-200: #c2bcdc;
    --secondary-300: #a49acb;
    --secondary-400: #8578ba;
    --secondary-500: #6757a8;
    --secondary-600: #524587;
    --secondary-700: #3e3465;
    --secondary-800: #292343;
    --secondary-900: #151122;
    --secondary-950: #0a0911;
    
    --accent-50: #f1eef6;
    --accent-100: #e3ddee;
    --accent-200: #c8bcdc;
    --accent-300: #ac9acb;
    --accent-400: #9078ba;
    --accent-500: #7557a8;
    --accent-600: #5d4587;
    --accent-700: #463465;
    --accent-800: #2f2343;
    --accent-900: #171122;
    --accent-950: #0c0911;
    
    --linearPrimarySecondary: linear-gradient(#3759CD, #b2aad3);
    --linearPrimaryAccent: linear-gradient(#3759CD, #9179ba);
    --linearSecondaryAccent: linear-gradient(#b2aad3, #9179ba);
    --radialPrimarySecondary: radial-gradient(#3759CD, #b2aad3);
    --radialPrimaryAccent: radial-gradient(#3759CD, #9179ba);
    --radialSecondaryAccent: radial-gradient(#b2aad3, #9179ba);
    

    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 2.5rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --ff-header: "Inter", sans-serif;
    --ff-body: "Inter", sans-serif;

    --border-radius: 8px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* ul {
    list-style-type: none;
}

* ul a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: #373232;
}

.container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: calc(1rem + 20px);
    background: var(--background);
    color: var(--text);
    overflow: hidden;
}

.hidden {
    display: none;
}
/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

form {
    --outline-width: 20px;
    width: 100%;
    max-width: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 4.25rem 1rem;
    border-radius: var(--border-radius);
    background: var(--primary);
    background: linear-gradient(90deg,
        var(--primary-400),
        var(--primary),
        var(--primary-500)
    );
    color: var(--background);
    outline: var(--outline-width) solid var(--text-100);
    position: relative;

    h1 {
        font-size: var(--fs-700);
        font-weight: 700;
    }

    p {
        max-width: 33ch;
    }
}

.form-control {
    --button-width: 2rem;
    --label-padding: 5px;
    --input-h-padding: 1rem;
    width: 100%;
    max-width: 375px;
    display: flex;
    align-items: center;
    padding: var(--label-padding);
    margin-top: 1rem;
    background: transparent;
    background: rgb(255, 255, 255, .2);
    border-radius: 100px;
    outline: 2px solid var(--background);
    position: relative;
}

.form-control > input {
    width: 100%;
    height: var(--button-width);
    background: transparent;
    padding: .5rem var(--input-h-padding);
    line-height: 1;
    border: none;
}

.form-control > span {
    position: absolute;
    left: calc(var(--label-padding) + 1rem);
    top: .5rem;
    width: 100%;
    width: calc(100% - 6px - var(--label-padding) - var(--button-width) - var(--input-h-padding));
    user-select: none;
    pointer-events: none;
    transform-origin: bottom left;
    transition: 0.25s;
    background: transparent;
    color: inherit;
    white-space: nowrap;
    text-align-last: left;
}

.form-control > input:focus,
.form-control > input:valid {
    border-color: var(--background);
}

.form-control > input:focus + span,
.form-control > input:valid + span  {
    top: 0;
    transform: translateY(-100%);
    font-size: var(--fs-300);
    background: transparent;
    color: var(--background);
    padding-inline: 2px;
}

.form-control > button[type="submit"] {
    flex-shrink: 0;
    aspect-ratio: 1;
    width: var(--button-width);
    border-radius: 50%;
    background: var(--background);

    transition: background .3s linear;
}

.form-control > button[type="submit"]:hover {
    background: var(--text);
}

.form-control > button[type="submit"]:hover > .arrow-right {
    fill: var(--background);
}

.arrow-right {
    width: var(--fs-500);
    height: var(--fs-500);
    fill: var(--text);
    transition: fill .3s linear;
}

.profiles {
    width: 100%;
    max-width: 530px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(50% + (var(--outline-width) / 2)));
}

.profile {
    aspect-ratio: 1;
    /* clamp(45px - 65px) */
    width: clamp(2.8125rem, -0.2117rem + 12.9032vw, 4.0625rem);
    outline: var(--profile-outline-width, 6px) solid var(--profile-outline-color, var(--background));
    background: var(--profile-bg-color, transparent) var(--profile-bg-image, none) no-repeat center center;
    background-size: cover;
    /* border: var(--profile-border-width, 6px) solid var(--profile-border-color, var(--background)); */
    border-radius: var(--profile-border-radius, 50%);
    box-shadow: 0 20px 20px -10px var(--profile-shadow-color, none);
    color: var(--profile-text-color, inherit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile[data-profile="1"] { 
    --profile-bg-image: url("https://github.com/bjohnson112069/web-images/raw/main/Social%20Login/pexels-amar-preciado-13913217.webp");
}

.profile[data-profile="2"] { 
    --profile-bg-image: url("https://github.com/bjohnson112069/web-images/blob/main/Social%20Login/pexels-creation-hill-1681010.jpg?raw=true");
}

.profile[data-profile="3"] { 
    --profile-bg-image: url("https://github.com/bjohnson112069/web-images/blob/main/Social%20Login/pexels-italo-melo-2379004.jpg?raw=true");
}

.profile[data-profile="4"] { 
    --profile-bg-image: url("https://github.com/bjohnson112069/web-images/raw/main/Social%20Login/pexels-rajaa-lemnari-20065834.webp");
}

.profile[data-profile="5"] { 
    --profile-bg-image: url("https://github.com/bjohnson112069/web-images/raw/main/Social%20Login/pexels-tejinder-ladi-photography-13530974.webp");
}

/* CSS styles for mobile devices */
@media (max-width: 650px) {

}