:root {
  --font-family-normal: "Roboto", Sans-Serif;
  --black: #000000;
  --white: #f0f0f0;
  --grey: #303841;
  --red: #be3144;
  --orange: #ff7f50;
  --yellow: #ffdd40;
  --blue: #45567d;
  --green: #37af65;
  --purple: #ae63e4;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: var(--font-family-normal);
  /*font-weight: 900;*/
  font-size: 16px;
  color: var(--black);
  /*text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);*/
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset all margin & padding */
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}
/* set default for ul tags */
ul {
  list-style: none;
}

/* set default for anchor tags */
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.accordion {
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  background: #009578;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #ffffff;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

/* small screens */
@media screen and (max-width: 768px) {
}
