@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    /* Colors */
    --clr-body-bg: #202020;
    --text: hsl(0, 0%, 17%);
    --background: hsl(0, 0%, 100%);
    --accent: hsl(196, 82%, 50%);
    --clr-pickeled-ginger: hsl(40, 65%, 45%);
    --clr-sango-red: hsl(7, 97%, 65%);
    --clr-jet-black: hsl(0, 0%, 21%);
    
    /* shades */
    --text-50: hsl(0, 0%, 95%);
    --text-100: hsl(0, 0%, 90%);
    --text-200: hsl(0, 0%, 80%);
    --text-300: hsl(0, 0%, 70%);
    --text-400: hsl(0, 0%, 60%);
    --text-500: hsl(0, 0%, 50%);
    --text-600: hsl(0, 0%, 40%);
    --text-700: hsl(0, 0%, 30%);
    --text-800: hsl(0, 0%, 20%);
    --text-900: hsl(0, 0%, 10%);
    --text-950: hsl(0, 0%, 5%);
    
    --background-50: hsl(0, 0%, 95%);
    --background-100: hsl(0, 0%, 90%);
    --background-200: hsl(0, 0%, 80%);
    --background-300: hsl(0, 0%, 70%);
    --background-400: hsl(0, 0%, 60%);
    --background-500: hsl(0, 0%, 50%);
    --background-600: hsl(0, 0%, 40%);
    --background-700: hsl(0, 0%, 30%);
    --background-800: hsl(0, 0%, 20%);
    --background-900: hsl(0, 0%, 10%);
    --background-950: hsl(0, 0%, 5%);
    
    --accent-50: hsl(197, 84%, 95%);
    --accent-100: hsl(196, 80%, 90%);
    --accent-200: hsl(196, 82%, 80%);
    --accent-300: hsl(196, 82%, 70%);
    --accent-400: hsl(196, 82%, 60%);
    --accent-500: hsl(196, 82%, 50%);
    --accent-600: hsl(196, 82%, 40%);
    --accent-700: hsl(196, 82%, 30%);
    --accent-800: hsl(196, 82%, 20%);
    --accent-900: hsl(196, 80%, 10%);
    --accent-950: hsl(194, 84%, 5%);
    
    

    /* Gradients */

    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 3.5rem;
    --fs-850: 2.5rem;
    --fs-800: 2rem;
    --fs-750: 1.875rem;
    --fs-750: clamp(1.5rem, 1.11270491803279rem + 0.983606557377049vw, 1.875rem);
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-650: clamp(1rem, 0.483606557377049rem + 1.31147540983607vw, 1.5rem);
    --fs-600: 1.25rem;
    --fs-600: clamp(1rem, 0.741803278688525rem + 0.655737704918033vw, 1.25rem);
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --fs-100: clamp(0.625rem, 0.3365rem + 1.2308vw, 0.875rem);
    --ff-header: "Plus Jakarta Sans", sans-serif;
    --ff-body: "Plus Jakarta Sans", sans-serif;

    --border-radius: 6px;
    --gutter-width: 1rem;
    --container-width: 1000px;
    --max-width: 100%;
    --min-width: 375px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* ul {
    list-style-type: none;
}

* ul a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    line-height: 1.1;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

  /* For IE10 */
select::-ms-expand {
    display: none;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);

    min-block-size: 100svh;
    margin: auto;
    display: grid;
    grid-template-columns: 
        minmax(var(--gutter-width), 1fr)
        min(100% - calc(2 * var(--gutter-width)), var(--container-width))
        minmax(var(--gutter-width), 1fr);
    align-items: center;
    padding-block: 1rem;

    background: var(--background-100);
    color: var(--text);
    position: relative;
}

.hidden {
    display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

.btn {
    border-radius: var(--border-radius);
    border: 2px solid var(--btn-border-color, transparent);
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1), border .5s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8), inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    inset: 100%;
    background: var(--btn-hover-bg-color);
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.btn:hover {
    color: var(--btn-hover-text-color, transparent);
    border-color: var(--btn-hover-border-color, transparent);
}

.btn:hover::after {
    inset: 0;
}

/* --------------------- */

body::before {
    content: '%';
    font-size: 70rem;
    font-weight: 800;
    line-height: 1;
    color: var(--accent);
    opacity: 0.2;
    position: absolute;
    top: -20%;
    left: 40%;
}

body > * {
    grid-column: 2 / 3;
}

#product-page {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr min-content;
    border-radius: 1rem;
    position: relative;
}

main {
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 
        inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8), 
        inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8),
        0px 5px 10px -2px rgb(0, 0, 0, 0.5);
}

.products {
    display: flex;
    position: relative;
    left: 0;
}

.product {
    flex: 1 0 100%;
    padding: clamp(1rem, -0.05rem + 4.48vw, 2.75rem) clamp(1rem, -0.8rem + 7.68vw, 4rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "header header"
        "details preview";
    row-gap: 1.5rem;
    background: var(--background);
    position: relative;
}

#bag {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    display: grid;
    grid-template-areas: "stacked";
    place-items: center;
    color: var(--text);
}

#bag > * {
    grid-area: stacked;
}

.item-count {
    position: absolute;
    top: 0;
    right: -.5rem;
    font-size: var(--fs-200);
    aspect-ratio: 1;
    width: 1.125rem;
    border-radius: 50%;
    background: var(--accent);
    color: var(--background);
    display: grid;
    place-items: center;
}

header {
    grid-area: header;
    display: grid;
    grid-auto-rows: min-content;
    gap: .5rem;
    font-size: 1.375rem;
    font-weight: 500;
}

header > h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--accent);
}

header > p {
    max-width: 53ch;
    line-height: 1.2;
}

.product-details {
    grid-area: details;
    display: grid;
    grid-auto-rows: 1fr;
    align-items: end;
    gap: 1rem;
}

.prices {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: center;
    font-weight: 800;
    line-height: 1;
}

.product-price {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-200);
    position: relative;
    padding-inline: .5rem;
}

.product-price::after {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-sale-price {
    font-size: 4rem;
}

.legend {
    font-size: 1.375rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-control {
    display: grid;
    grid-auto-rows: min-content;
    gap: .5rem;
    position: relative;
}

.form-control.error .error-message {
    visibility: visible;
}

.input-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
}

.color > input:checked ~ label {
    --label-border-color: var(--text);

}

.input-wrapper > label {
    aspect-ratio: 1;
    width: 65px;
    border: 2px solid var(--label-border-color, none);
    box-shadow: inset 0px 0px 0px 3px var(--background);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: var(--label-bg-color, var(--background));
    transition: border .2s linear;
    cursor: pointer;
}

.colors,
.sizes {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 1rem
}

.color[data-color-name="pickeled ginger"] > .color-preview {
    --label-bg-color: var(--clr-pickeled-ginger);
}

.color[data-color-name="sango red"] > .color-preview {
    --label-bg-color: var(--clr-sango-red);
}

.color[data-color-name="jet black"] > .color-preview {
    --label-bg-color: var(--clr-jet-black);
}

.size-preview {
    --label-border-color: var(--text);
    font-size: 2.5rem;
}

.error-message {
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}

.product-preview {
    grid-area: preview;
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: 1rem;
}

.product-img {
    display: block;
    max-width: 480px;
    width: 100%;
    object-fit: cover;
}

#add-to-bag {
    --btn-bg-color: var(--accent);
    --btn-text-color: var(--background);
    --btn-border-color: none;
    --btn-hover-bg-color: hsl(0, 0%, 0%, 20%);
    --btn-hover-text-color: var(--background);
    --btn-hover-border-color: none;
    justify-self: center;
    padding: .75rem 2.5rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px var(--text);
}

footer {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    justify-content: start;
    column-gap: 1.75rem;
    padding-block: 1rem;
    font-size: 1.375rem;
    font-weight: 600;
}

.brands {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    align-items: center;
    justify-content: start;
    column-gap: 1.75rem;
}

footer > span {
    text-transform: uppercase;
    min-width: max-content;
}

.brands > i {
    font-size: 1.75rem;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.brands > i:hover {
    color: var(--accent);
}

/* CSS styles for mobile devices */
@media (max-width: 875px) {
    
    body::before {
        display: none;
    }

    header {
        justify-items: center;
        text-align: center;
    }

    .product {
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        grid-template-areas: 
            "header"
            "details"
            "preview";
    }

    .product-details,
    .product-preview {
        justify-items: center;
    }

    footer,
    .brands {
        /* justify-content: center; */
        justify-items: center;
    }

}

@media (max-width: 500px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        justify-content: center;
        row-gap: .5rem;
    }


}
