/* --------------------- */
/* Custom Properties     */
/* --------------------- */

:root {
     /* colors */
     --clr-dark: 230 35% 7%;
     --clr-light: 231 77% 90%;
     --clr-white: 0 0% 100%;
     /* font-sizes: Mobile */
     --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
     --fs-800: 3.5rem;
     --fs-700: 1.5rem;
     --fs-600: 1rem;
     --fs-500: 1rem;
     --fs-400: 0.9375rem;
     --fs-300: 1rem;
     --fs-200: 0.875rem;

     /* font-families */
     --ff-serif: "Bellefair", serif;
     --ff-sans-cond: "Barlow Condensed", sans-serif;
     --ff-sans-normal: "Barlow", sans-serif;
}

/* Tablet 560px */
@media (min-width: 35em) {
     :root {
          /* font-sizes: Tablet */
          --fs-800: 5rem;
          --fs-700: 2.5rem;
          --fs-600: 1.5rem;
          --fs-400: 1rem;
          --fs-500: 1.25rem;
     }
}
/* large Sizes */
@media (min-width: 45em) {
     :root {
          /* font-sizes: Desktop */
          --fs-800: 6.25rem;
          --fs-700: clamp(2rem, 3vw + 1rem, 3.5rem);
          /* --fs-700: 3.5rem; */
          --fs-600: 2rem;
          --fs-500: 1.75rem;
          --fs-400: 1.125rem;
     }
}

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Variation of the following modern CSS reset https://piccalil.li/blog/a-modern-css-reset/ */

/* Box Sizing */
*,
*::before,
*::after {
     box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
     margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
     font-weight: 400;
}

/* set up the body */
body {
     font-family: var(--ff-sans-normal);
     font-size: var(--fs-400);
     background-color: hsl(var(--clr-white));
     /* color: hsl(var(--clr-white)); */
     color: hsl(var(--clr-white));
     line-height: 1.5;
     min-height: 100vh;

     display: grid;
     /* stretch header and main-content to fit the min-height*/
     grid-template-rows: min-content 1fr;

     /* prevent side-scrolling for animations */
     overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
     max-width: 100%;
     /* display: block overrides default behavior of hidden attribute for picture element */
     /* display: block; */
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
     font: inherit;
}

[hidden] {
     display: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
     *,
     *::before,
     *::after {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
     }
}

/* --------------------- */
/* Utility Classes       */
/* --------------------- */

/* general */

.flex {
     display: flex;
     gap: var(--gap, 1rem);
     /* outline: 3px solid red; */
}

.grid {
     display: grid;
     gap: var(--gap, 1rem);
}

.d-block {
     display: block;
}

/* select all adjacent siblings that come before it; select all but 1st child */
/* "> * + *" */
/* "> *:not(:first-child)" has specificity problems */
/* "> *:where(:not(:first-child))" where does not add any specificity so you can overwrite*/
.flow > *:where(:not(:first-child)) {
     margin-top: var(--flow-space, 1rem);
     /* outline: 1px solid red; */
}

.flow--space-small {
     --flow-space: 0.75rem;
}

.container {
     padding-inline: 2em; /* new property left/right */
     margin-inline: auto; /* new property left/right */
     max-width: 80rem;
}

/* screen reader only; keeps it in the DOM but is not visible */
.sr-only {
     position: absolute;
     width: 1px;
     height: 1px;
     padding: 0;
     margin: -1px;
     overflow: hidden;
     clip: rect(0, 0, 0, 0);
     white-space: nowrap; /* added line */
     border: 0;
}

/* colors */

.bg-dark {
     background-color: hsl(var(--clr-dark));
}
.bg-accent {
     background-color: hsl(var(--clr-light));
}
.bg-white {
     background-color: hsl(var(--clr-white));
}

.text-dark {
     color: hsl(var(--clr-dark));
}
.text-accent {
     color: hsl(var(--clr-light));
}
.text-white {
     color: hsl(var(--clr-white));
}
/* .alpha-20 {
     background-color: hsl(var(--clr-light) / 0.2);
} */

/* typography */

.ff-serif {
     font-family: var(--ff-serif);
}
.ff-sans-cond {
     font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
     font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
     letter-spacing: 4.75px;
}
.letter-spacing-2 {
     letter-spacing: 2.7px;
}
.letter-spacing-3 {
     letter-spacing: 2.35px;
}

.uppercase {
     text-transform: uppercase;
}

.fs-900 {
     font-size: var(--fs-900);
}
.fs-800 {
     font-size: var(--fs-800);
}
.fs-700 {
     font-size: var(--fs-700);
}
.fs-600 {
     font-size: var(--fs-600);
}
.fs-500 {
     font-size: var(--fs-500);
}
.fs-400 {
     font-size: var(--fs-400);
}
.fs-300 {
     font-size: var(--fs-300);
}
.fs-200 {
     font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
     line-height: 1.1;
}

/* --------------------- */
/* Components            */
/* --------------------- */

.title {
     font-size: var(--fs-900);
     color: hsl(var(--clr-white));
     text-shadow: 0 0 5px hsl(var(--clr-dark));
     /* top: 50%;
     left: 50%;
     transform: translate3d(-50%, -50%, -5px) scale(1.25); */
}

section {
     font-size: var(--fs-400);
     padding: 2rem;
     background-color: hsl(var(--clr-dark));
     color: hsl(var(--clr-white));
     min-height: 100vh;
}

/* Scroll Container */
.wrapper {
     height: 100vh;
     overflow-y: auto; /* auto scroll */
     overflow-x: hidden;
     perspective: 10px;
}

header {
     position: relative; 
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     transform-style: preserve-3d;
     z-index: -1; /* move behind main content */
}

.translateZ, 
.background,
.foreground {
     position: absolute;
     z-index: -1;
}

.background,
.foreground {
     height: 100%;
     width: 100%;
     object-fit: cover;
}

.translateZ-10 {
     transform: translateZ(-10px) scale(2);
}

.translateZ-5 {
     transform: translateZ(-5px) scale(1.5);
}

/* override defaults for mobile using max-width */
@media (max-width: 35rem) {
}

@media (min-width: 35em) {
}

@media (min-width: 35em) and (max-width: 44.999em) {
}

@media (min-width: 45em) {
}

