@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    --text: 5, 13, 42; /* rgb(5, 13, 42); #050D2A; */
    --background: 255, 255, 255; /* rgb(255, 255, 255); #FFFFFF; */
    --primary: 249, 249, 249; /* rgb(249, 249, 249); #F9F9F9; */
    --secondary: 253, 92, 119; /* rgb(253, 92, 119); #FD5C77; */
    --accent: 91, 91, 230; /* rgb(91, 91, 230); #5B5BE6; */
    --award: 254, 219, 19; /* rgb(254, 219, 19); #FEDB13 */
    
    --text-50: #e8edfc;
    --text-100: #d1dafa;
    --text-200: #a4b5f4;
    --text-300: #7690ef;
    --text-400: #486bea;
    --text-500: #1b46e4;
    --text-600: #1538b7;
    --text-700: #102a89;
    --text-800: #0b1c5b;
    --text-900: #050e2e;
    --text-950: #030717;

    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;

    --primary-50: #f2f2f2;
    --primary-100: #e6e6e6;
    --primary-200: #cccccc;
    --primary-300: #b3b3b3;
    --primary-400: #999999;
    --primary-500: #808080;
    --primary-600: #666666;
    --primary-700: #4d4d4d;
    --primary-800: #333333;
    --primary-900: #1a1a1a;
    --primary-950: #0d0d0d;

    --secondary-50: #ffe6ea;
    --secondary-100: #fecdd5;
    --secondary-200: #fe9aab;
    --secondary-300: #fd6881;
    --secondary-400: #fd3556;
    --secondary-500: #fc032c;
    --secondary-600: #ca0223;
    --secondary-700: #97021b;
    --secondary-800: #650112;
    --secondary-900: #320109;
    --secondary-950: #190004;

    --accent-50: #FAFAFF;
    --accent-100: #d3d3f8;
    --accent-200: #a6a6f2;
    --accent-300: #7a7aeb;
    --accent-400: #4e4ee4;
    --accent-500: #2121de;
    --accent-600: #1b1bb1;
    --accent-700: #141485;
    --accent-800: #0d0d59;
    --accent-900: #07072c;
    --accent-950: #030316;

    --linearPrimarySecondary: linear-gradient(#F9F9F9, #FD5C77);
    --linearPrimaryAccent: linear-gradient(#F9F9F9, #5B5BE6);
    --linearSecondaryAccent: linear-gradient(#FD5C77, #5B5BE6);
    --radialPrimarySecondary: radial-gradient(#F9F9F9, #FD5C77);
    --radialPrimaryAccent: radial-gradient(#F9F9F9, #5B5BE6);
    --radialSecondaryAccent: radial-gradient(#FD5C77, #5B5BE6);

    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 3rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --ff-header: "Inter", sans-serif;
    --ff-body: "Inter", sans-serif;

    --border-radius: 8px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* ul {
    list-style-type: none;
}

* ul a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    color: #373232;
}
.container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 1rem;
    background: var(--accent-50);
    color: var(--text);
    overflow: hidden;
}

.hidden {
    display: none;
}
/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

#board {
    width: 100%;
    max-width: 480px;
    display: grid;
    grid-auto-rows: auto;
    border-radius: var(--border-radius);
    box-shadow: 0 20px 40px 10px rgba(var(--accent), .1),
        0px -5px 5px 2px rgba(var(--accent), .1);
    background: rgb(var(--background));
}

header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: var(--fs-500);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

main {}

.rankings {
    display: grid;
    grid-auto-rows: auto;
}

.ranking {
    padding: .75rem 1.5rem;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 1rem;
    font-size: var(--fs-300);
    font-weight: 700;
}

.ranking:nth-of-type(2n + 1) {
    background: rgb(var(--primary));
    background: #F9F9F9;
    /* outline: 1px solid red; */
}

.leader {
    --arrow-width: 10px;
    width: calc(100% + (2 * var(--arrow-width)));
    color: rgb(var(--background));
    position: relative;
    left: calc(-1 * var(--arrow-width));
    background: rgb(var(--accent)) !important;
    box-shadow: 0 10px 10px -5px var(--primary-500);
}

.leader::before,
.leader::after {
    position: absolute;
    content: '';
    border-top: var(--arrow-width) solid transparent;
    border-bottom: var(--arrow-width) solid transparent;
    bottom: 0;
    transform: translateY(50%);
}

.leader::before{
    border-left: var(--arrow-width) solid rgb(var(--accent));
    right: 0;
}

.leader::after {
    border-right: var(--arrow-width) solid rgb(var(--accent));
    left: 0;
}

.leader > .badge {
    display: inline-block;
    fill: rgb(var(--award));
}

.number {
    font-size: var(--fs-600);
    font-weight: 700;
}

.badge {
    display: none;
}

.icon-share {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(var(--background));
}

.icon-award {
    width: 2.5rem;
    height: 2.5rem;
}

footer {
    padding: 3rem 1rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn {
    --border-radius: 100px;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: .5em 1em;
    border-radius: var(--border-radius);
    background: var(--btn-bg-color, transparent);
    color: var(--btn-text-color, inherit);
    box-shadow:  3px 3px 10px var(--btn-shadow-color, transparent),
                 -7px -7px 14px #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 100%;
    /* background: rgb(255, 255, 255, 0.2); */
    background: var(--btn-hover-color);
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.btn:hover::before {
    inset: 0;
}

#share {
    padding: .25em 1em;
    --btn-bg-color: rgb(var(--secondary));
    --btn-hover-color: rgba(0, 0, 0, .3);
    --btn-shadow-color: var(--secondary-800);
}

#exit {
    --btn-bg-color: rgb(var(--background));
    --btn-hover-color: rgba(0, 0, 0, 0.5);
    --btn-shadow-color: var(--background-800);
}

#exit:hover {
    --btn-text-color: rgb(var(--background));
}

#continue {
    --btn-bg-color: rgb(var(--accent));
    --btn-hover-color: rgba(255, 255, 255, 0.5);
    --btn-shadow-color: var(--accent-800);
    --btn-text-color: rgb(var(--background));
}

#continue:hover {
    --btn-text-color: rgb(var(--text));
}

/* CSS styles for mobile devices */
@media (max-width: 768px) {

}