@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    /* Colors */
    --clr-body-bg: #202020;
    --text: hsl(0, 0%, 17%);
    --background: hsl(0, 0%, 100%);
    --primary: hsl(357, 63%, 42%);
    --secondary: hsl(45, 12%, 75%);
    --accent: hsl(60, 11%, 64%);
    
    /* shades */
    --text-50: hsl(0, 0%, 95%);
    --text-100: hsl(0, 0%, 90%);
    --text-200: hsl(0, 0%, 80%);
    --text-300: hsl(0, 0%, 70%);
    --text-400: hsl(0, 0%, 60%);
    --text-500: hsl(0, 0%, 50%);
    --text-600: hsl(0, 0%, 40%);
    --text-700: hsl(0, 0%, 30%);
    --text-800: hsl(0, 0%, 20%);
    --text-900: hsl(0, 0%, 10%);
    --text-950: hsl(0, 0%, 5%);
    
    --background-50: hsl(0, 0%, 95%);
    --background-100: hsl(0, 0%, 90%);
    --background-200: hsl(0, 0%, 80%);
    --background-300: hsl(0, 0%, 70%);
    --background-400: hsl(0, 0%, 60%);
    --background-500: hsl(0, 0%, 50%);
    --background-600: hsl(0, 0%, 40%);
    --background-700: hsl(0, 0%, 30%);
    --background-800: hsl(0, 0%, 20%);
    --background-900: hsl(0, 0%, 10%);
    --background-950: hsl(0, 0%, 5%);
    
    --primary-50: hsl(356, 62%, 95%);
    --primary-100: hsl(356, 65%, 90%);
    --primary-200: hsl(357, 63%, 80%);
    --primary-300: hsl(357, 63%, 70%);
    --primary-400: hsl(357, 63%, 60%);
    --primary-500: hsl(357, 63%, 50%);
    --primary-600: hsl(357, 63%, 40%);
    --primary-700: hsl(357, 63%, 30%);
    --primary-800: hsl(357, 63%, 20%);
    --primary-900: hsl(356, 65%, 10%);
    --primary-950: hsl(356, 62%, 5%);
    
    --secondary-50: hsl(40, 12%, 95%);
    --secondary-100: hsl(43, 14%, 90%);
    --secondary-200: hsl(45, 12%, 80%);
    --secondary-300: hsl(44, 12%, 70%);
    --secondary-400: hsl(45, 12%, 60%);
    --secondary-500: hsl(45, 12%, 50%);
    --secondary-600: hsl(45, 12%, 40%);
    --secondary-700: hsl(44, 12%, 30%);
    --secondary-800: hsl(45, 12%, 20%);
    --secondary-900: hsl(43, 14%, 10%);
    --secondary-950: hsl(60, 12%, 5%);
    
    --accent-50: hsl(60, 12%, 95%);
    --accent-100: hsl(60, 10%, 90%);
    --accent-200: hsl(60, 12%, 80%);
    --accent-300: hsl(60, 11%, 70%);
    --accent-400: hsl(60, 11%, 60%);
    --accent-500: hsl(60, 11%, 50%);
    --accent-600: hsl(60, 11%, 40%);
    --accent-700: hsl(60, 11%, 30%);
    --accent-800: hsl(60, 12%, 20%);
    --accent-900: hsl(60, 10%, 10%);
    --accent-950: hsl(60, 12%, 5%);    
    
    /* Gradients */

    /* Typography */
    --fs-1000: clamp(4rem, 3.25742574257426rem + 3.16831683168317vw, 5rem);
    --fs-900: 5rem;
    --fs-850: 2.5rem;
    --fs-800: 2rem;
    --fs-750: 1.875rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-625: 1.375rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --fs-100: clamp(0.625rem, 0.3365rem + 1.2308vw, 0.875rem);
    --ff-header: "Prompt", sans-serif;
    --ff-body: "ABeeZee", sans-serif;

    --border-radius: 8px;
    --gutter-width: 1rem;
    --container-width: 880px;
    --max-width: 100%;
    --min-width: 375px;
}

/* CSS Reset  */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

p,
li,
figcaption {
    text-wrap: pretty;
    max-width: 70ch;
}

img {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    line-height: 1.1;
    text-wrap: balance;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

  /* For IE10 */
select::-ms-expand {
    display: none;
}

/* Container queries */
body > :is(header, footer),
main,
section, 
article {
    /* container-type: inline-size; */
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);

    min-block-size: 100svh;
    margin: auto;
    display: grid;
    grid-template-columns: 
        minmax(var(--gutter-width), 1fr)
        min(100% - calc(2 * var(--gutter-width)), var(--container-width))
        minmax(var(--gutter-width), 1fr);
    place-items: center;


    background: var(--background);
    background: linear-gradient(to bottom, 
        var(--background), 
        var(--background-50));
    color: var(--text);
    position: relative;
}


.hidden {
    display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.disable-scrolling {
    overflow-y: hidden;
}

/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

.btn {
    border-radius: var(--border-radius);
    border: 2px solid var(--btn-border-color, transparent);
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1), border .5s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8), inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8);
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    inset: 100%;
    background: var(--btn-hover-bg-color);
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.btn:hover {
    color: var(--btn-hover-text-color, transparent);
    border-color: var(--btn-hover-border-color, transparent);
}

.btn:hover::after {
    inset: 0;
}

/* --------------------- */

body > * {
    grid-column: 2 / 3;
}

#pricing-card {
    width: 100%;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
}

.cards {
    padding: 4.6875rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
    grid-template-rows: repeat(2, min-content) 1fr min-content;
    gap: 1rem;
}

.card {
    display: grid;
    grid-template-rows: subgrid;
    justify-items: center;
    gap: 1rem;
    grid-row: span 4;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8), inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8), 0px 5px 10px -2px rgb(0, 0, 0, 0.5);
    background: var(--text);
    background: linear-gradient(-120deg, 
    var(--text), 
    var(--text-900), 
    var(--text-950));
    color: var(--background);
    position: relative;
}

.card::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: calc(100% + 2rem);
    height: 75px;
    background: radial-gradient(hsl(0, 0%, 0%, 70%), hsl(0, 0%, 0%, 50%), transparent 70%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.card > h1 {
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    gap: .5rem;
    place-items: center;
    font-size: var(--fs-1000);
    text-transform: uppercase;
    background: linear-gradient(120deg, 
        var(--primary-400), 
        var(--primary), 
        var(--primary-700));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--primary);
}

.card > h1::before,
.card > h1::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background: currentColor;
}

.card > div {
    display: grid;
    grid-auto-rows: min-content;
    gap: .25rem;
    justify-items: center;
}

.monthly-price {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 1;
}

.features {
    display: grid;
    grid-auto-rows: min-content;
    justify-content: center;
    justify-items: center;
    gap: .5rem;
    margin-block: 1rem;
    /* color: var(--background-200); */
}

.plan {
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    place-items: center;
    gap: .5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.plan::before,
.plan::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background: currentColor;
}

.feature {
    min-width: max-content;
}

.card > .btn {
    --btn-bg-color: linear-gradient(to bottom, 
        var(--primary-400), 
        var(--primary), 
        var(--primary-700));
    --btn-text-color: var(--background);
    --btn-border-color: none;
    --btn-hover-bg-color: hsl(0, 0%, 0%, 30%);
    --btn-hover-text-color: var(--background);
    --btn-hover-border-color: none;
    width: 100%;
    padding: 1rem;
    font-size: var(--fs-600);
    text-transform: uppercase;
}


/* CSS styles for mobile devices */
@media (max-width: 809px) {

}

