@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    /* Colors */
    --clr-body-bg: #202020;
    --text: #f4faff;
    --background: #0c0e10;
    --primary: #1f9aff;
    --secondary: #14ffd0;
    --accent: #7e9a7e;

    /* shades */
    --text-50: #e5f4ff;
    --text-100: #cce8ff;
    --text-200: #99d1ff;
    --text-300: #66baff;
    --text-400: #33a3ff;
    --text-500: #008cff;
    --text-600: #0070cc;
    --text-700: #005499;
    --text-800: #003866;
    --text-900: #001c33;
    --text-950: #000e1a;
    
    --background-50: #f0f2f4;
    --background-100: #e2e6e9;
    --background-200: #c5ccd3;
    --background-300: #a8b3bd;
    --background-400: #8b99a7;
    --background-500: #6e7f91;
    --background-600: #586674;
    --background-700: #424c57;
    --background-800: #2c333a;
    --background-900: #16191d;
    --background-950: #0b0d0f;
    
    --primary-50: #e5f4ff;
    --primary-100: #cce8ff;
    --primary-200: #99d1ff;
    --primary-300: #66baff;
    --primary-400: #33a3ff;
    --primary-500: #008cff;
    --primary-600: #0070cc;
    --primary-700: #005499;
    --primary-800: #003866;
    --primary-900: #001c33;
    --primary-950: #102A40;
    
    --secondary-50: #e5fffa;
    --secondary-100: #ccfff5;
    --secondary-200: #99ffeb;
    --secondary-300: #66ffe0;
    --secondary-400: #33ffd6;
    --secondary-500: #00ffcc;
    --secondary-600: #00cca3;
    --secondary-700: #00997a;
    --secondary-800: #006652;
    --secondary-900: #0E574A;
    --secondary-950: #0D2723;
    
    --accent-50: #f1f4f1;
    --accent-100: #e2e9e2;
    --accent-200: #c6d2c6;
    --accent-300: #a9bca9;
    --accent-400: #8da58d;
    --accent-500: #708f70;
    --accent-600: #5a725a;
    --accent-700: #435643;
    --accent-800: #2d392d;
    --accent-900: #161d16;
    --accent-950: #0b0e0b;
    
     /* Gradients */
    --linearPrimarySecondary: linear-gradient(#1f9aff, #14ffd0);
    --linearPrimaryAccent: linear-gradient(#1f9aff, #7e9a7e);
    --linearSecondaryAccent: linear-gradient(#14ffd0, #7e9a7e);
    --radialPrimarySecondary: radial-gradient(#1f9aff, #14ffd0);
    --radialPrimaryAccent: radial-gradient(#1f9aff, #7e9a7e);
    --radialSecondaryAccent: radial-gradient(#14ffd0, #7e9a7e);


    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 3.5rem;
    --fs-850: 2.5rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --fs-100: clamp(0.625rem, 0.3365rem + 1.2308vw, 0.875rem);
    --ff-header: "Inter", sans-serif;
    --ff-body: "Inter", sans-serif;

    --border-radius: 16px;
    --max-width: 1240px;
    --min-width: 375px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* ul {
    list-style-type: none;
}

* ul a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    line-height: 1.1;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    color: var(--text);
    position: relative;
}

.container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    place-content: center;
    justify-items: center;
    gap: 2rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.hidden {
    display: none;
}
/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

.btn {
    border-radius: var(--border-radius);
    border-left: 5px solid var(--btn-border-color, transparent);
    border-right: 5px solid var(--btn-border-color, transparent);
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
    z-index: 1;    
}

.btn::after {
    content: "";
    position: absolute;
    inset: 100% 0% 0% 0%;
    background: var(--btn-hover-bg-color);
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.btn:hover {
    color: var(--btn-hover-text-color, transparent);
    border-color: var(--btn-hover-border-color, transparent);
}

.btn:hover::after {
    inset: 0;
}

/* --------------------- */

.bg-circle {
    aspect-ratio: 1;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--primary), var(--accent) 60%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .8s cubic-bezier(.175, .885, .32, 1.2);
    z-index: -1;
}

.container:hover > .bg-circle {
    width: 75%;
}

section {
    border-radius: var(--border-radius);
    background: var(--text);
    color: var(--background);
    width: 100%;
}

.icon {
    aspect-ratio: 1;
    width: 3rem;
    display: grid;
    place-items: center;
    font-size: 2rem;
    color: var(--primary);
}
    
.icon > i {
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, .75));
}

#options {
    grid-column: span 2;
}

#options > header {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: .5rem;
    padding: 1rem 2rem;
}

h1 {
    font-size: var(--fs-600);
    font-weight: 700;
}

.accordion {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 340px), 1fr));
    grid-auto-rows: min-content;
    gap: 1.5rem;
    padding: 2rem;
    font-size: var(--fs-300);
}

.panel {
    --icon-size: 1.5rem;
    --padding: 1.5rem;
    --gap: 1rem;
    --panel-border-color: var(--accent);
    --panel-bg-color: var(--accent-50);
    display: grid;
    grid-auto-rows: min-content;
    height: fit-content;
    position: relative;
    background: var(--panel-bg-color, transparent);
    border-left: 5px solid var(--panel-border-color, transparent);
    border-right: 5px solid var(--panel-border-color, transparent);
    border-radius: var(--border-radius);
}

.panel:has(input[type="checkbox"]:checked) {
    --panel-border-color: var(--primary);
    --panel-bg-color: var(--primary-100);
    color: var(--background);
}

.panel:has(input[type="checkbox"]:checked):hover > label {
    color: var(--primary);
}

.panel:hover > label {
    color: var(--accent);
}

input[type="checkbox"] {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}

label {
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: var(--padding);
    cursor: pointer;
}

label > i {
    color: var(--accent);
}

.fa-plus {
    font-size: var(--icon-size);
    transition: transform .3s linear;
}

.panel-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: calc(var(--padding) + var(--icon-size) + var(--gap));
    transition: max-height .5s ease-in-out, padding 0s .5s linear;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
}

input[type="checkbox"]:checked ~ .panel-content {
    padding-bottom: var(--padding);
    max-height: 20rem;
    visibility: visible;
}


input[type="checkbox"]:checked ~ label > .fa-plus {
    transform: rotate(45deg);
}

section:not(:first-of-type) {
    width: 100%;
    max-width: 480px;
    display: grid;
    grid-auto-rows: min-content;
    place-items: center;
    gap: 1.5rem;
    padding: 1.5rem 2rem;
}

#pricing {
    justify-self: end;
}

#get-started {
    justify-self: start;
}

.content-bl {
    display: grid;
    grid-auto-rows: min-content;
    place-items: center;
    gap: .5rem;
}

.content-bl > p {
    text-align: center;
    max-width: 35ch;
}

.button-bl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

button[type="button"] {
    --btn-bg-color: var(--accent-50);
    --btn-text-color: var(--background);
    --btn-border-color: var(--accent);
    --btn-hover-bg-color: var(--primary-100);
    --btn-hover-text-color: var(--background);
    --btn-hover-border-color: var(--primary);
    padding: 1rem 1.5rem;
    min-width: fit-content;
    text-wrap: nowrap;
    width: 170px;
}
/* CSS styles for mobile devices */
@media (max-width: 850px) {
    .container {
        grid-template-columns: 1fr;
    }

    #options {
        grid-column: span 1;
    }

    #pricing, 
    #get-started {
        justify-self: center;
    }

    .bg-circle {
        display: none;
    }
}

