:root {
  --font-family-normal: "Roboto", Sans-Serif;
  --black: #000000;
  --white: #f0f0f0;
  --grey: #303841;
  --red: #be3144;
  --orange: #ff7f50;
  --yellow: #ffdd40;
  --blue: #45567d;
  --green: #37af65;
  --purple: #ae63e4;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: var(--font-family-normal);
  /*font-weight: 900;*/
  font-size: 16px;
  color: var(--black);
  /*text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);*/
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset all margin & padding */
* {
}

body {
  min-height: 100vh;
  /*background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  background: var(--white);
  background-attachment: fixed;
  letter-spacing: -1px;*/
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;
}

.parallax {
  background-image: url("images/robynne-hu-HOrhCnQsxnQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 20vh;
}

.parallax-1 {
  background-image: url("images/robynne-hu-HOrhCnQsxnQ-unsplash.jpg");
}

.parallax-2 {
  background-image: url("images/timothy-eberly-xjnaXGSzsKA-unsplash.jpg");
}

.parallax-3 {
  background-image: url("images/william-daigneault-7c8z4KEvgds-unsplash.jpg");
}

/* small screens */
@media screen and (max-width: 768px) {
}
