:root {
  --font-family--headings: "Raleway", sans-serif;
  --font-family--body: "Lato", sans-serif;
  --black: #02010e;
  --white: #ffffff;
  --grey: #303841;
  --red: #c10206;
  --orange: #ff7f50;
  --yellow: #ffff00;
  --blue: #0000ff;
  --green: #00ff00;
  --purple: #ae63e4;
  --pink: #ff00ff;
  --cyan: #00ffff;
  --grayish--blue: #dfe2db;
  /* Split Complementary Scheme */
  --blue--0265c1: #0265c1;
  --green--02c15e: #02c15e;

  --min-width: 375px;
  --max-width: 1440px;
  --main-radius: 5px;
  --main-padding: 5px;
  --main-grid-gap: 5px;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: var(--font-family-normal);
  /*font-weight: 900;*/
  font-size: 16px;
  color: var(--black);
  scroll-behavior: smooth;
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset all margin & padding */
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  /*background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  background: var(--white);
  background-attachment: fixed;
  letter-spacing: -1px;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--headings);
}
/* set default for ul tags */
ul {
  list-style: none;
}

/* set default for anchor tags */
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* Background Classes */
.bg--white {
  background-color: var(--white);
}
.bg--black {
  background-color: var(--black);
}
.bg--red {
  background-color: var(--red);
}
.bg--grayish--blue {
  background-color: var(--grayish--blue);
}
.bg--blue--0265c1 {
  background-color: var(--blue--0265c1);
}
.bg--green--02c15e {
  background-color: var(--green--02c15e);
}

/* Border Classes */
.bd--red {
  border-left: 3px solid var(--red);
}
.bd--blue--0265c1 {
  border-left: 3px solid var(--blue--0265c1);
}
.bd--green--02c15e {
  border-left: 3px solid var(--green--02c15e);
}

/* Text Color Classes */
.txt--white {
  color: var(--white);
}
.txt--black {
  color: var(--black);
}
.txt--red {
  color: var(--red);
}
.txt----grayish--blue {
  color: var(--grayish--blue);
}
.txt--blue--0265c1 {
  color: var(--blue--0265c1);
}
.txt--green--02c15e {
  color: var(--green--02c15e);
}

/* Font Weight Classes */
.fw--light {
  font-weight: 300;
}
.fw--regular {
  font-weight: 400;
}
.fw--medium {
  font-weight: 500; /* 500 = bold for Lato */
}
.fw--bold {
  font-weight: 700;
}

/* Button Classes */
.btn {
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  border-radius: 5px;
  /* 
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
   */
}

.btn--large {
  padding: 1rem 1.5rem;
}

/* Box Shadow Class */
.has-shadow {
  box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.53);
}

/* Image Classes */
.image--wrapper {
}

.image--wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.page--container {
  min-height: 100vh;
  min-width: var(--min-width);
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--grey);
}

.content--container {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  border: 1px solid var(--yellow);
}

.sidebar--overlay {
  position: fixed;
  height: 100%;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.logo {
  width: 120px;
  margin-bottom: 2rem;
}

.navbar--container {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
}

.navbar--link {
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: 5px;
  padding: 2.5rem 0.5rem;
  height: 100%;
  position: relative;
}

.navbar--link:hover {
  background-color: var(--red);
  color: var(--black);
  transition: background-color 1000ms ease-in-out;
}

.navbar--link:hover::before {
  content: "\01F704";
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.section--1,
.section--2,
.section--3 {
  min-height: 50vh;
  text-align: center;
  border: 1px solid #000;
}

.parallax {
  background-image: url("images/pexels-pixabay-373543.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

/* small screens */
@media screen and (max-width: 768px) {
}
