@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    /* ### Neutral */
    --clr-dark-blue: hsl(209, 23%, 22%);
    --clr-very-dark-blue: hsl(207, 26%, 17%);
    --clr-very-dark-blue: hsl(200, 15%, 8%);
    --clr-dark-gray: hsl(0, 0%, 52%);
    --clr-very-light-gray: hsl(0, 0%, 98%);
    --clr-White: hsl(0, 0%, 100%);

    /* shades */
    
    /* Gradients */

    /* Typography */
    --fs-1000: clamp(4rem, 3.25742574257426rem + 3.16831683168317vw, 5rem);
    --fs-900: 4rem;
    --fs-900: clamp(2.5rem, 1.7741935483871rem + 3.09677419354839vw, 4rem);
    --fs-850: 2.5rem;
    --fs-800: 2rem;
    --fs-750: 1.875rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-625: 1.375rem;
    --fs-625: clamp(1rem, 0.844613259668508rem + 0.662983425414365vw, 1.375rem);
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --fs-100: clamp(0.625rem, 0.3365rem + 1.2308vw, 0.875rem);
    --ff-header: "Nunito Sans", system-ui;
    --ff-body: "Nunito Sans", system-ui;

    --border-radius: 6px;
    --gutter-width: 1rem;
    --container-width: 1280px;
    --max-width: 1440px;
    --min-width: 375px;
}


/* CSS Reset  */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

p,
li,
figcaption {
    text-wrap: pretty;
    max-width: 70ch;
}

img {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    line-height: 1.1;
    text-wrap: balance;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

  /* For IE10 */
select::-ms-expand {
    display: none;
}

/* Container queries */
body > :is(header, footer),
main,
section, 
article {
    /* container-type: inline-size; */
}

body {
    line-height: 1.1;
    font-family: var(--ff-body);
    font-size: var(--fs-300);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);

    min-block-size: 100svh;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr min-content;

    background: var(--clr-background);
    color: var(--clr-text);
    position: relative;
}

.hidden {
    display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.disable-scrolling {
    overflow-y: hidden;
}

/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

.btn {
    border-radius: var(--border-radius);
    border: 2px solid var(--btn-border-color, transparent);
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1), border .5s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8), inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8);
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    inset: 100%;
    background: var(--btn-hover-bg-color);
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.btn:hover {
    color: var(--btn-hover-text-color, transparent);
    border-color: var(--btn-hover-border-color, transparent);
}

.btn:hover::after {
    inset: 0;
}

/* --------------------- */

#rest-countries-api {
    display: grid;
    grid-template-rows: min-content 1fr;
    background: var(--clr-elements);
}

* {
    transition: .3s linear;
    transition-property: background, color;
}

.disable-scrolling {
    overflow-y: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 
        minmax(var(--gutter-width), 1fr)
        min(100% - calc(2 * var(--gutter-width)), var(--container-width))
        minmax(var(--gutter-width), 1fr);
}

.grid-container > * {
    grid-column: 2 / 3;
}

/*** HEADER ***/
header {
    padding-block: 1.25rem;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

h1 {
    font-size: var(--fs-625);
    font-weight: 800;
}

.theme-switcher {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5em;
    font-size: var(--fs-400);
    font-weight: 800;
    border-radius: var(--border-radius);
    transition: box-shadow .3s linear;
    cursor: pointer;
}

.theme-switcher > span {
    min-width: max-content;
}

.theme-switcher:hover {
    box-shadow: 
        inset 2px 2px 4px -2px hsl(0, 0%, 100%, 80%),
        inset -2px -2px 4px -2px hsl(0, 0%, 0%, 80%), 
        0px 5px 10px -2px hsl(0, 0%, 0%, 50%);
}

.icon-mode {
    aspect-ratio: 1;
    width: 1.25rem;
    /* Use the SVG as an image mask; background color sets the color */
    -webkit-mask: var(--color-mode-image, url('./images/moon-regular.svg')) no-repeat center;
    -webkit-mask-size: contain;
    mask: var(--color-mode-image, url('./images/moon-regular.svg')) no-repeat center;
    mask-size: contain;
    background: var(--clr-text);
    transform: rotate(-25deg);
}

#color-theme:checked ~ .theme-switcher .icon-mode {
    --color-mode-image: url('./images/moon-solid.svg');
}

/* Layout Colors Light Mode (default) */
:root:not(:has(:checked)) {
    --clr-text: var(--clr-very-dark-blue);
    --clr-background: var(--clr-very-light-gray);
    --clr-elements: var(--clr-White);
}

/* Layout Colors Dark Mode */
:root:has(:checked) {
    --clr-text: var(--clr-White);
    --clr-background: var(--clr-very-dark-blue);
    --clr-elements: var(--clr-dark-blue);
}

/*** MAIN ***/
main {
    background: var(--clr-background);
}

/*** SECTIONS ***/
.sections {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* HOME */
.home {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 3rem;
    padding-block: 3rem;
}

/* FILTERS */

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: var(--border-radius);
}


/* Search Text Input */
.input-wrapper {
    --icon-width: 1.125rem;
    --icon-gap: 1.375rem;
    --h-input-padding: 1.5rem;
    width: 100%;
    max-width: min(100%, 29rem);
    display: flex;
    align-items: center;
    border-radius: inherit;
    box-shadow: 
        inset 2px 2px 4px -2px hsl(0, 0%, 100%, 80%),
        inset -2px -2px 4px -2px hsl(0, 0%, 0%, 80%), 
        0px 5px 10px -2px hsl(0, 0%, 0%, 50%);
    position: relative;
}

.input-wrapper > input {
    width: 100%;
    padding: 1rem var(--h-input-padding);
    padding-left: calc( var(--h-input-padding) + var(--icon-width) + var(--icon-gap) );
    background: var(--clr-elements);
    border: 2px solid transparent;
    border-radius: inherit;
    color: var(--clr-text);
    transition: border-color .3s ease-in-out;
}

.input-wrapper > input:focus {
    border-color: var(--clr-text);
}

.input-wrapper > i {
    font-size: var(--icon-width);
    position: absolute;
    top: 50%;
    left: var(--h-input-padding);
    transform: translate(0, -50%);
}

/* Search Dropdown List */
.dropdown {
    width: 12rem;
    border-radius: inherit;
    box-shadow: 
        inset 2px 2px 4px -2px hsl(0, 0%, 100%, 80%),
        inset -2px -2px 4px -2px hsl(0, 0%, 0%, 80%), 
        0px 5px 10px -2px hsl(0, 0%, 0%, 50%);
    background: var(--clr-elements);
    margin-right: .5rem;
    position: relative;
    z-index: 2;
}

.dropdown:focus-within > .dropdown-btn {
    border-color: var(--clr-text);
}

.dropdown.opened {
    z-index: 10;
}

.dropdown-btn {
    width: 100%;
    min-width: max-content;
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 1rem;
    align-items: center;
    justify-items: start;
    padding: 1rem 1rem;
    border-radius: inherit;
    border: 2px solid transparent;
    background: inherit;
}

.dropdown-btn:focus {
    border-color: var(--clr-text);
}

#dropdown-choice {
}

.dropdown-btn > i {
    transition: transform .5s linear;
}

.dropdown.opened > .dropdown-btn > i {
    transform: rotate(-180deg);
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    border-radius: inherit;
    background: inherit;
    transition: grid-template-rows .3s linear;
    overflow: hidden;
}

.dropdown.opened > .dropdown-menu {
    grid-template-rows: 1fr;
    box-shadow: 0px 5px 10px -2px hsl(0, 0%, 0%, 50%);
}

.dropdown-list {
    display: grid;
    grid-auto-rows: 1fr;
    border-radius: inherit;
    overflow: hidden;
}

.dropdown.opened .dropdown-list {
    padding-block: 1rem;
    box-shadow: 
        inset 2px 2px 4px -2px hsl(0, 0%, 100%, 80%), 
        inset -2px -2px 4px -2px hsl(0, 0%, 0%, 80%);
}

.dropdown-item {
    --border-radius: 0px;
    --btn-bg-color: transparent;
    --btn-text-color: var(--clr-text);
    --btn-border-color: none;
    --btn-hover-bg-color: hsl(0, 0%, 0%, 20%);
    --btn-hover-text-color: var(--clr-text);
    --btn-hover-border-color: none;
    box-shadow: none;
    width: 100%;
    justify-items: start;
}

.dropdown-item:focus-within {
    --btn-bg-color: var(--clr-elements);
    --btn-text-color: var(--clr-text);
    --btn-border-color: none;
}

.dropdown-link {
    width: 100%;
    padding: .25rem 1rem;
    font-size: inherit;
    min-width: max-content;
    border: 1px solid transparent;
    background: none;
}

/* COUNTRIES (HOME) */
.countries-home {
}

.countries {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
        gap: 4.5rem;
}

.country {
    width: 100%;
    display: grid;
    grid-auto-rows: min-content;
    border-radius: var(--border-radius);
    border: 2px solid hsl(0, 0%, 0%, 10%);
    background: var(--clr-elements);
    transition: transform .5s linear;
    cursor: pointer;
    overflow: hidden;
}

.country:hover {
    transform: translateY(-10px);
}

.flag {
    aspect-ratio: 1.66 / 1;
    width: 100%;
    position: relative;
}

.flag > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stat-bl {
    display: grid;
    grid-auto-rows: min-content;
    gap: .5rem;
}

.name {
    font-weight: 800;
}

.stat {
    display: flex;
    gap: .25rem;
}

.stat > .label {
    font-weight: 800;
    min-width: max-content;
}

.stat > .value {

}

.country .flag {

}

.country > .stat-bl {
    padding: 1.75rem 1rem;
    padding-bottom: 2.75rem;
}

.country .name {
    font-size: var(--fs-500);
    margin-bottom: .5rem;
}


/* COUNTRIES (DETAIL) */
.countries-detail {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: start;
    gap: 5rem;
    padding-block: 5rem;
    position: absolute;
    inset: 0;
    min-height: 100vh;
    transform: translateX(100vw);
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    background: var(--clr-background);
    z-index: 10;
}

.countries-detail.active {
    transform: translateX(0);
}

#back {
    --btn-bg-color: var(--clr-elements);
    --btn-text-color: var(--clr-text);
    --btn-border-color: none;
    --btn-hover-bg-color: hsl(0, 0%, 0%, 20%);
    --btn-hover-text-color: var(--clr-text);
    --btn-hover-border-color: none;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .75rem 2.25rem;
}

.details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.5rem;
}

.details > .flag {
    max-width: 34rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.detail {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 2.5rem;
}

.detail .name {
    font-size: var(--fs-700);
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
}

.detail .stat-bl {
    gap: 1rem;
}

#borders {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
    margin-bottom: 2rem;
}

#borders > .value {
    font-size: var(--fs-300);
    padding: .25em 1em;
    text-align: center;
    border: 1px solid hsl(0, 0%, 0%, 50%);
    border-radius: 4px;
    background: var(--clr-elements);
}

/* ATTRIBUTION */

.attribution { font-size: 11px; text-align: center; margin-top: 1rem;}
.attribution a { color: hsl(228, 45%, 44%); }

/* CSS styles for mobile devices */
@media (max-width: 850px) {
    .details {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-rows: min-content 1fr;
        gap: 4.5rem;
    }
}

@media (max-width: 710px) {
    .filters {
        flex-direction: column;
    }
    
}