@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    
    /* ### Primary */
    --clr-desaturated-red: hsl(0, 36%, 70%);
    --clr-soft-red: hsl(0, 93%, 68%);

    /* ### Neutral */
    --clr-dark-grayish-red: hsl(0, 6%, 24%);
    --clr-white: hsl(0, 0%, 100%);

    /* ### Gradients */
    --clr-grad-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --clr-grad-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    
    /* ### Neutral */

    /* shades */
    
    /* Gradients */

    /* Typography */
    --fs-1000: clamp( 3rem, 2.647887323943662rem + 1.5023474178403755vw, 4rem );
    --fs-900: 4rem;
    --fs-900: clamp(2.5rem, 1.7741935483871rem + 3.09677419354839vw, 4rem);
    --fs-850: 2.5rem;
    --fs-800: 2rem;
    --fs-750: 1.875rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-625: 1.375rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --fs-100: clamp(0.625rem, 0.3365rem + 1.2308vw, 0.875rem);
    --ff-header: "Josefin Sans", sans-serif;
    --ff-body: "Josefin Sans", sans-serif;

    --border-radius: 6px;
    --gutter-width: 1rem;
    --container-width: 100%;
    --max-width: 1440px;
    --min-width: 375px;
}


/* CSS Reset  */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

p,
li,
figcaption {
    text-wrap: pretty;
    max-width: 70ch;
}

img {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    line-height: 1;
    text-wrap: balance;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

  /* For IE10 */
select::-ms-expand {
    display: none;
}

/* Container queries */
body > :is(header, footer),
main,
section, 
article {
    /* container-type: inline-size; */
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);

    min-block-size: 100svh;
    margin: auto;
    display: grid;
    grid-template-columns: 
        minmax(var(--gutter-width), 1fr)
        min(100% - calc(2 * var(--gutter-width)), var(--container-width))
        minmax(var(--gutter-width), 1fr);
    grid-template-rows: repeat(2, min-content);
    align-content: center;

    background: var(--clr-white);
    color: var(--clr-desaturated-red);
    position: relative;
}

.hidden {
    display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.disable-scrolling {
    overflow-y: hidden;
}

/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

.btn {
    border-radius: var(--border-radius);
    border: 2px solid var(--btn-border-color, transparent);
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1), border .5s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 
        inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8), 
        inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8);
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    inset: 100%;
    background: var(--btn-hover-bg-color);
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.btn:hover {
    color: var(--btn-hover-text-color, transparent);
    border-color: var(--btn-hover-border-color, transparent);
}

.btn:hover::after {
    inset: 0;
}

/* --------------------- */

body > * {
    grid-column: 2 / 3;
}

.container {
    --padding-block: clamp( 2rem, 1.295774647887324rem + 3.004694835680751vw, 4rem );
    --padding-inline: clamp( 2rem, -0.816901408450704rem + 12.018779342723004vw, 10rem );
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "logo hero"
        "main hero";
    align-content: center;
    /* margin-top: 1rem; */
    background: var(--clr-grad-1);
}


/* LOGO */

.logo {
    grid-area: logo;
    padding: var(--padding-block) var(--padding-inline);
}


/* HERO */

.hero {
    grid-area: hero;
    position: relative;
}

.hero-image {
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}


/* MAIN */

main {
    grid-area: main;
    margin-inline: auto;
    padding: var(--padding-block) var(--padding-inline);
    margin-bottom: 5rem;
}

form {
    max-width: 450px;
    display: grid;
    grid-auto-rows: min-content;
    gap: 2rem;
}

form.submitted input[type="email"] {
    transform: translateX(100%);
}

form.submitted .confirmation {
    bottom: 50%;
    opacity: 1;
    transition: 1.5s ease-in-out;
    transition-property: bottom, opacity;
}

h1 {
    font-size: var(--fs-1000);
    font-weight: 300;
    letter-spacing: 15px;
}

strong {
    color: var(--clr-dark-grayish-red);
    font-weight: 600;
}

p {
    max-width: 45ch;
    margin-bottom: .5rem;
}


.form-control {
    --button-width: 100px;
    --icon-arrow-width: 1.5rem;
    display: grid;
    grid-auto-rows: min-content;
    gap: .5rem;
    justify-items: start;
    padding-bottom: 1.25rem;
    position: relative;
    overflow: hidden;
}

.form-control.error .icon-error,
.form-control.error .error-message {
    visibility: visible;
}

.form-control.error input {
    border-color: var(--clr-soft-red);
}

input[type="email"] {
    width: 100%;
    padding: .75rem 1rem;
    padding-right: calc(var(--button-width) + var(--icon-arrow-width) + 1rem);
    border: 2px solid hsl(0, 0%, 0%, 10%);
    border-radius: 100px;
    background: inherit;
    color: var(--clr-dark-grayish-red);
    font: inherit;
    resize: none;
    outline: none;
    transition: 
        background .3s linear, 
        border-color .3s linear, 
        transform 1.5s ease-in-out;
}

input[type="email"]::placeholder {
    color: var(--clr-desaturated-red);
}

.form-control:not(.error) > input[type="email"]:hover,
.form-control:not(.error) > input[type="email"]:focus {
        border-color: var(--clr-dark-grayish-red);
}

.icon-error {
    aspect-ratio: 1;
    width: var(--icon-arrow-width);
    position: absolute;
    top: 50%;
    right: calc(var(--button-width) + 1rem);
    transform: translateY(calc(-50% - 10px));
    visibility: hidden;
}

.error-message {
    color: var(--clr-soft-red);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.confirmation {
    color: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    transition: .3s ease-in-out;
    transition-property: bottom, opacity;
}

#submit {
    --btn-bg-color: var(--clr-grad-2);
    --btn-text-color: var(--clr-white);
    --btn-border-color: none;
    --btn-hover-bg-color: hsl(0, 0%, 100%, 30%);
    --btn-hover-text-color: var(--clr-white);
    --btn-hover-border-color: none;
    width: var(--button-width);
    padding: 1rem 2.25rem;
    text-transform: capitalize;
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

.icon-arrow {
    aspect-ratio: 1;
    width: 1.25rem;
}


/* ATTRIBUTION */

.attribution { font-size: 11px; text-align: center; margin-top: 1rem;}
.attribution a { color: hsl(228, 45%, 44%); }

/* CSS styles for mobile devices */
@media (max-width: 800px) {
    body {
        align-content: start;
    }

    .container {
        grid-column: 1 / -1;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: 
            "logo"
            "hero"
            "main";
        align-content: start;
    }

    .hero-image {
        aspect-ratio: 1.5 / 1;
    }

    main {
        text-align: center;
        margin-top: 4rem;
    }
}