@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    --text: #FDFCFD;
    --background: #1D1C2C;
    --primary: #221F32;
    --secondary: #2C2B40;
    --accent: #8680F8;
    --star: #FEBF5C;

    --text-50: #f2f2f2;
    --text-100: #e6e6e6;
    --text-200: #cccccc;
    --text-300: #b3b3b3;
    --text-400: #999999;
    --text-500: #808080;
    --text-600: #666666;
    --text-700: #4d4d4d;
    --text-800: #333333;
    --text-900: #1a1a1a;
    --text-950: #0d0d0d;
    
    --background-50: #f0eff5;
    --background-100: #e1e0eb;
    --background-200: #c2c1d7;
    --background-300: #a4a2c3;
    --background-400: #8683af;
    --background-500: #67639c;
    --background-600: #53507c;
    --background-700: #3e3c5d;
    --background-800: #29283e;
    --background-900: #15141f;
    --background-950: #0a0a10;
    
    --primary-50: #f0eff5;
    --primary-100: #e1e0eb;
    --primary-200: #c4c0d8;
    --primary-300: #a6a1c4;
    --primary-400: #8982b0;
    --primary-500: #6b629d;
    --primary-600: #564f7d;
    --primary-700: #403b5e;
    --primary-800: #2b273f;
    --primary-900: #15141f;
    --primary-950: #0b0a10;
    
    --secondary-50: #f0f0f5;
    --secondary-100: #e1e0eb;
    --secondary-200: #c3c2d6;
    --secondary-300: #a5a3c2;
    --secondary-400: #8785ad;
    --secondary-500: #696699;
    --secondary-600: #54527a;
    --secondary-700: #3f3d5c;
    --secondary-800: #2a293d;
    --secondary-900: #15141f;
    --secondary-950: #0a0a0f;
    
    --accent-50: #e8e7fe;
    --accent-100: #d1cffc;
    --accent-200: #a39efa;
    --accent-300: #756ef7;
    --accent-400: #463df5;
    --accent-500: #180df2;
    --accent-600: #130ac2;
    --accent-700: #0f0891;
    --accent-800: #0a0561;
    --accent-900: #050330;
    --accent-950: #020118;

    /* Gradient Colors */
    --linearPrimarySecondary: linear-gradient(#221F32, #2C2B40);
    --linearPrimaryAccent: linear-gradient(#221F32, #8680F8);
    --linearSecondaryAccent: linear-gradient(#2C2B40, #8680F8);
    --radialPrimarySecondary: radial-gradient(#221F32, #2C2B40);
    --radialPrimaryAccent: radial-gradient(#221F32, #8680F8);
    --radialSecondaryAccent: radial-gradient(#2C2B40, #8680F8);

    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 3rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --ff-header: "Open Sans", sans-serif;
    --ff-body: "Open Sans", sans-serif;

    --border-radius: 8px;
    --max-width: 1240px;
    --min-width: 375px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* ul {
    list-style-type: none;
}

* ul a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--text);
}

.container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    overflow: hidden;
}

.hidden {
    display: none;
}
/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

article {
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-rows: min-content;
    gap: 3rem;
    border-radius: var(--border-radius);
    background: var(--primary);
    padding: clamp(1rem, 0.1329rem + 3.6994vw, 3rem);
}

#header {
    display: grid;
    grid-auto-rows: min-content;
    gap: 1rem;
}

h1 {
    font-size: var(--fs-500);
    font-weight: 700;
    margin-bottom: 2rem;
}


.form-control {
    --icon-width: 1.5rem;
    --label-padding: 1rem;
    --input-padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--label-padding);
    border-radius: var(--border-radius);
    border: 2px solid rgb(255, 255, 255, 0.1);
    font-size: var(--fs-500);
    background: var(--secondary);
    color: var(--accent-200);
}

.form-control > i {
    font-size: var(--icon-width);
}

.input-wrapper {
    flex-grow: 1;
    position: relative;
}

input[type="text"] {
    width: 100%;
    background: transparent;
    padding-inline: var(--input-padding);
    border: none;
    color: var(--text);
}

.placeholder {
    width: calc(100% - var(--input-padding));
    position: absolute;
    left: var(--input-padding);
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
    transform-origin: bottom left;
    transition: all 0.25s linear;
    background: transparent;
    color: inherit;
    line-height: 1.6;
    white-space: nowrap;
    text-align-last: left;
}

input[type="text"]:focus + .placeholder,
input[type="text"]:valid + .placeholder  {
    top: calc(-1 * var(--input-padding));
    transform: translate(-1rem, calc(-100% - 2px));
    font-size: var(--fs-300);    
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.filter {
    display: grid;
    place-items: center;
    position: relative;
}

.filter:hover > .filter-label {
    border-color: var(--accent);
    color: var(--text);
}

.filter-label {
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    background: var(--background);
    color: var(--text-300);
    text-align: center;
    cursor: pointer;
    transition: all .3s linear;
    font-size: var(--fs-300);
}

input[type="checkbox"] {
    position: absolute;
    top: 1rem;
    right: 0;
    visibility: hidden;
}

input[type="checkbox"]:checked + .filter-label {
    background: var(--accent);
    color: var(--text);
}

.reviews {
    display: grid;
    grid-auto-rows: min-content;
    gap: .5rem;
    height: 700px;
    overflow-y: scroll;
}

.review {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: min-content;
    grid-template-areas: 
        "name stars"
        "text text"
        "date share";
    gap: 1.5rem;
    align-items: center;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    background: var(--secondary);
}

.name-bl {
    grid-area: name;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.avatar {
    display: inline-grid;
    place-items: center;
    aspect-ratio: 1;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: var(--text);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;
}

.name {
    font-size: var(--fs-500);
}

.stars {
    grid-area: stars;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: .25rem;
    place-items: center;
}

.fa-star {
    font-size: .75rem;
    color: var(--secondary-700);
}

.fa-star.selected {
    color: var(--star);
}

.text-content {
    grid-area: text;
    color: var(--text-300);
}

.date {
    grid-area: date;
    color: var(--secondary-500);
    font-size: var(--fs-300);
}

.share-bl {
    grid-area: share;
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: .25rem .5rem;
    color: var(--secondary-500);
    border-radius: var(--border-radius);
    border: 2px solid var(--background);
    font-size: var(--fs-300);
}

.share-bl > i {

}

.share-bl > span {

}


    /* CSS styles for mobile devices */
@media (max-width: 525px) {
}

