/* Add CSS here */
:root {
    
    /* Colors */
    --clr-body-bg: #202020;
    --text: #fff6f4;
    --background: #3B1406;
    --primary: #a18b82;
    --secondary: #5E331A;
    --accent: #C67A19;
    
    /* shades */
    --text-50: #ffeae5;
    --text-100: #ffd5cc;
    --text-200: #ffac99;
    --text-300: #ff8266;
    --text-400: #ff5833;
    --text-500: #ff2f00;
    --text-600: #cc2500;
    --text-700: #991c00;
    --text-800: #661300;
    --text-900: #330900;
    --text-950: #1a0500;

    --background-50: #fdede8;
    --background-100: #fadcd1;
    --background-200: #f6b8a2;
    --background-300: #f19574;
    --background-400: #ed7245;
    --background-500: #e84f17;
    --background-600: #ba3f12;
    --background-700: #8b2f0e;
    --background-800: #5d1f09;
    --background-900: #2e1005;
    --background-950: #170802;

    --primary-50: #f4f1f0;
    --primary-100: #e9e4e2;
    --primary-200: #d3c9c5;
    --primary-300: #bdaea8;
    --primary-400: #a7938b;
    --primary-500: #91786e;
    --primary-600: #746058;
    --primary-700: #574842;
    --primary-800: #3a302c;
    --primary-900: #1d1816;
    --primary-950: #0f0c0b;

    --secondary-50: #faf0eb;
    --secondary-100: #f4e2d7;
    --secondary-200: #e9c4af;
    --secondary-300: #dea787;
    --secondary-400: #d3895f;
    --secondary-500: #c86c37;
    --secondary-600: #a0562c;
    --secondary-700: #784121;
    --secondary-800: #502b16;
    --secondary-900: #28160b;
    --secondary-950: #140b05;

    --accent-50: #fcf4e8;
    --accent-100: #f9e8d2;
    --accent-200: #f4d1a4;
    --accent-300: #eeba77;
    --accent-400: #e9a449;
    --accent-500: #e38d1c;
    --accent-600: #b67116;
    --accent-700: #885411;
    --accent-800: #5b380b;
    --accent-900: #2d1c06;
    --accent-950: #170e03;

    
    /* Gradients */
    --linearPrimarySecondary: linear-gradient(#a18b82, #5E331A);
    --linearPrimaryAccent: linear-gradient(#a18b82, #C67A19);
    --linearSecondaryAccent: linear-gradient(#5E331A, #C67A19);
    --radialPrimarySecondary: radial-gradient(#a18b82, #5E331A);
    --radialPrimaryAccent: radial-gradient(#a18b82, #C67A19);
    --radialSecondaryAccent: radial-gradient(#5E331A, #C67A19);

    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 2.5rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --ff-header: "Open Sans", sans-serif;
    --ff-body: "Open Sans", sans-serif;

    --max-width: 1240px;
    --min-width: 375px;
    --border-radius: 8px;
}

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Variation of the following modern CSS reset https://andy-bell.co.uk/a-more-modern-css-reset// */
/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    background-color: var(--clr-body-bg);
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    /* text-wrap: balance; */
    line-height: 1.1;
    font-family: var(--ff-header);
    font-weight: 700;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
color: currentColor;
}

/* Make images easier to work with */
picture {
    max-width: 100%;
    display: block;
}

/* --------------------- */
.content-container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 1rem;
    background: var(--background);
    background: linear-gradient(-135deg,
        var(--background-800),
        var(--background),
        var(--background-900),
        var(--background),
        var(--background-800)
    );
    color: var(--text);
    position: relative;
    z-index: 1;
}

.outline {
     outline: 1px solid red;
}
 
.outline-children > * {
     outline: 1px solid blue;
}

/* --------------------- */

.icon {
    width: 1rem;
    height: 1rem;
    outline: var(--icon-outline-width, 2px) solid var(--icon-outline-color, none);
    background: var(--icon-bg-color, transparent) var(--icon-bg-image, none) no-repeat center center;
    border: var(--icon-border-width, 2px) solid var(--icon-border-color, none);
    border-radius: var(--icon-border-radius, none);
    box-shadow: 0 20px 20px -10px var(--icon-shadow-color, none);
    color: var(--icon-text-color, inherit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.profile {
    max-width: var(--min-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--border-radius);
    background: var(--text);
    color: var(--background);
    position: relative;
    overflow: hidden;
    box-shadow: 
        0 0 5px var(--background-900), 
        0 0 10px var(--background-800), 
        0 0 15px var(--background-700);
}

.bg-image {
    width: 100%;
    height: 190px;
    object-fit: cover;
    position: absolute;
    top: .5rem;
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;
    background: transparent;
    color: var(--text);
    z-index: 1;
}

nav > .icon {
    width: 2rem;
    height: 2rem;
    font-size: var(--fs-700);
    transition: color .3s ease-in-out;
    cursor: pointer;
}

nav > .icon:hover {
    color: var(--accent);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background: var(--background-50);
    border-bottom: 2px solid var(--background-100);
}

header > h1 {
    font-size: var(--fs-800);
    font-weight: 500;
    color: var(--text);
    z-index: 1;
}

header > .icon {
    --icon-bg-color: var(--primary);
    --icon-bg-image: url("https://github.com/bjohnson112069/web-images/raw/main/Hiring%20Profile/pexels-pavel-danilyuk-5520284.webp");
    --icon-border-radius: 50%;
    --icon-border-width: 5px;
    --icon-border-color: var(--accent);
    background-size: cover;
    width: 160px;
    height: 160px;
    z-index: 1;
}

header > p {
    text-align: center;
}

main {
}

.tab-group {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.tab {
    flex: 100%;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
}

.tab.active {
    background: var(--accent-100);
}

.tab:hover {
    color: var(--accent);
}

.tab-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "stacked";
}

.content {
    grid-area: stacked;
    min-height: 150px;
    padding: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
}

.content.active {
    background: var(--accent-100);
    opacity: 1;
    visibility: visible;
}

#about > p {
    max-width: 40ch;
}

#skills,
.skill-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    align-items: center;
    justify-items: start;
    gap: var(--gap, 1rem);
}

.skill-group {
    --gap: .25rem;
    width: 100%;
}

.skill-group > label {
    font-size: var(--fs-500);
    font-weight: 600;
}

.skill-group > progress {
    -webkit-appearance:none;
    -moz-appearance:none;        
    appearance: none;
    width: 0%;
    height: 12px;
    border-radius: 100px;
    border: none;
    background: var(--accent-950);
    transition: width 1s linear;
}

.skill-group > progress::-moz-progress-bar {
    border-radius: 100px;
    background: var(--accent);
    background: linear-gradient(90deg,
        var(--background-900),
        var(--background),
        var(--background-800),
        var(--accent-600),
        var(--accent),
        var(--accent-500)
    );
}

.skill-group > progress::-webkit-progress-bar {
    border-radius: 100px;
    background: var(--accent-950);
}

.skill-group > progress::-webkit-progress-value {
    background: linear-gradient(90deg,
        var(--background-900),
        var(--background),
        var(--background-800),
        var(--accent-600),
        var(--accent),
        var(--accent-500)
    );
}

#skills.active > .skill-group > progress {
    width: 100%;
}

#portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    align-items: center;
    justify-items: center;
    gap: var(--gap, 1rem);
    overflow: hidden;
}

#portfolio > h2 {
    font-size: var(--fs-300);
    font-weight: 400;
}

/* --------------------- */

.albums {
    /* important: must be a <div> w/in-line child elements */
    width: 100%; /* important for horizontal scrolling */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
    border-radius: var(--border-radius);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.albums::-webkit-scrollbar {
    display: none;
}

.albums.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.album {
    display: inline-block; /* important */
    --border-radius: 5px;
    width: 135px;
    height: 135px;
    background-image: var(--album-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius);
    transition: all 0.5s;
    -webkit-transition:all 0.5s;
    -o-transition:all 0.5s;
    -moz-transition:all 0.5s;
    overflow: hidden;
}

.album:not(:last-child){
    margin-right: .5rem;
}

.album:hover {
    transform: scale(1.1);
}

.album-1 { --album-image: url(https://github.com/bjohnson112069/web-images/blob/main/stormseeker-rX12B5uX7QM-unsplash.jpg?raw=true); }
.album-2 { --album-image: url(https://github.com/bjohnson112069/web-images/blob/main/stefano-pollio-ZC0EbdLC8G0-unsplash.jpg?raw=true); }
.album-3 { --album-image: url(https://github.com/bjohnson112069/web-images/blob/main/jr-korpa-E2cbYfx9g64-unsplash.jpg?raw=true); }
.album-4 { --album-image: url(https://github.com/bjohnson112069/web-images/blob/main/mathew-macquarrie-u6OnpbMuZAs-unsplash.jpg?raw=true); }
.album-5 { --album-image: url(https://github.com/bjohnson112069/web-images/blob/main/jason-rosewell-ASKeuOZqhYU-unsplash.jpg?raw=true); }
.album-6 { --album-image: url(https://github.com/bjohnson112069/web-images/blob/main/fabrice-villard-Jrl_UQcZqOc-unsplash.jpg?raw=true); }

/* --------------------- */

footer > button {
    text-transform: uppercase;
    width: 100%;
    font-size: var(--fs-650);
    font-weight: 500;
    padding-block: 1em;
    background: var(--accent);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;    
}

footer > button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 100%;
    border-radius: inherit;
    background: var(--background);
    transform: translateX(-50%);
    transition: width 350ms ease-in-out;
    z-index: -1;
}

footer > button:hover::after {
    width: 110%;
}

footer > button:hover {
    color: var(--accent);
}

/* --------------------- */

@media (max-width: 650px) {
}

@media (max-width: 550px) {
} 

@media (max-width: 375px) {
} 

