/* Add CSS here */
:root {

    /* Colors */
    --clr-body-bg: #202020;
    --text: #404149;
    --background: #FFFFFF;
    --primary: #7C91FE;


    /* shades */
    --text-50: #f1f2f3;
    --text-100: #e4e4e7;
    --text-200: #c8c9d0;
    --text-300: #adaeb8;
    --text-400: #9294a0;
    --text-500: #777988;
    --text-600: #5f616d;
    --text-700: #474852;
    --text-800: #2f3037;
    --text-900: #18181b;
    --text-950: #0c0c0e;

    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;

    --primary-50: #e6eaff;
    --primary-100: #cdd5fe;
    --primary-200: #9aabfe;
    --primary-300: #6881fd;
    --primary-400: #3556fd;
    --primary-500: #032cfc;
    --primary-600: #0223ca;
    --primary-700: #021b97;
    --primary-800: #011265;
    --primary-900: #010932;
    --primary-950: #000419;

    /* Gradients */

    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 3rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.375rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --ff-header: "Poppins", sans-serif;
    --ff-body: "Poppins", sans-serif;

    --max-width: 1240px;
    --min-width: 375px;
    --border-radius: 8px;
}

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Variation of the following modern CSS reset https://andy-bell.co.uk/a-more-modern-css-reset// */
/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    background-color: var(--clr-body-bg);
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    /* text-wrap: balance; */
    line-height: 1.1;
    font-family: var(--ff-header);
    font-weight: 700;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
picture {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

/* --------------------- */
.content-container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--primary);
    /* background: linear-gradient(-135deg,
        var(--background),
        var(--background-50),
        var(--background-100),
        var(--background-200)
    ); */
    color: var(--text);
    position: relative;
    overflow: hidden;
}

.outline {
    outline: 1px solid red;
}

.outline-children>* {
    outline: 1px solid blue;
}

/* --------------------- */

.icon {
    width: 1rem;
    height: 1rem;
    outline: var(--icon-outline-width, 2px) solid var(--icon-outline-color, none);
    background: var(--icon-bg-color, transparent) var(--icon-bg-image, none) no-repeat center center;
    border: var(--icon-border-width, 2px) solid var(--icon-border-color, none);
    border-radius: var(--icon-border-radius, none);
    box-shadow: 0 20px 20px -10px var(--icon-shadow-color, none);
    color: var(--icon-text-color, inherit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    /* transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35); */
}

/* --------------------- */

.gallery {
    --_arrow-width: 2rem;
    --_slider-gap: 2rem;
    width: 100%;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 2rem;
    gap: 1rem;
    border-radius: var(--border-radius);
    background: var(--background);
    box-shadow: 41px 41px 82px #697bd8,
        -41px -41px 82px #8fa7ff;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: var(--fs-650);
    font-weight: 500;

    & h1 {
        font-size: inherit;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    & #view-all {
        white-space: nowrap;
        font-weight: inherit;
        color: var(--primary);
    }
}

.album {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "prev slider next";
    gap: var(--_slider-gap);
}

.slider {
    grid-area: slider;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: grid;
    grid-template-columns: repeat(8, 175px);
    gap: 1rem;
    width: 100%;
    position: relative;
    left: 0;
    transition: left .5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}


.slides.all {
    grid-template-columns: repeat(auto-fit, minmax(min(175px, 100%), 1fr));
}

.slide {
    display: inline-block;
    aspect-ratio: 1;
    width: 175px;
    position: relative;
    isolation: isolate;
    border-radius: var(--border-radius);
    border: 5px solid transparent;
    box-shadow: 0 10px 10px -5px rgb(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
    transition: all .3s linear;
}

.slide:hover {
    border-color: var(--primary);
}

.slide-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.arrow.active {
    display: block;
    visibility: visible;
}

.arrow {
    visibility: hidden;
    display: none;
    font-size: var(--_arrow-width);
    padding-inline: 6px;
    transition: all .3s linear;
}

.arrow:hover {
    color: var(--primary);
}

.arrow:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.arrow>i {
    filter: drop-shadow(0 2px 5px rgb(0, 0, 0, .5));
}

.goToPrev {
    grid-area: prev;
}

.goToNext {
    grid-area: next;
}



/* --------------------- */

@media (max-width: 600px) {

    header {
        justify-content: center;
        padding-inline: 0;
    }

}

@media (max-width: 525px) {

    .slide {
        width: 100%;
        height: 100%;
    }
}
