@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    /* Colors */
    --clr-body-bg: #202020;
    --text: #EDEBEC;
    --background: #0F1015;
    --primary: #FF664B;
    --secondary: #6b344f;
    --accent: #b95386;
    

    /* shades */
    --text-50: #f3f2f2;
    --text-100: #e7e4e6;
    --text-200: #cfc9cc;
    --text-300: #b6afb3;
    --text-400: #9e9499;
    --text-500: #867980;
    --text-600: #6b6166;
    --text-700: #50494d;
    --text-800: #363033;
    --text-900: #1b181a;
    --text-950: #0d0c0d;
    
    --background-50: #f0f1f4;
    --background-100: #e1e3ea;
    --background-200: #c3c6d5;
    --background-300: #a5aac0;
    --background-400: #888daa;
    --background-500: #6a7195;
    --background-600: #555a77;
    --background-700: #3f445a;
    --background-800: #2a2d3c;
    --background-900: #15171e;
    --background-950: #0b0b0f;
    
    --primary-50: #ffe9e5;
    --primary-100: #ffd4cc;
    --primary-200: #ffa899;
    --primary-300: #ff7d66;
    --primary-400: #ff5233;
    --primary-500: #ff2600;
    --primary-600: #cc1f00;
    --primary-700: #991700;
    --primary-800: #660f00;
    --primary-900: #330800;
    --primary-950: #1a0400;
    
    --secondary-50: #f7eef2;
    --secondary-100: #eedde5;
    --secondary-200: #debacb;
    --secondary-300: #cd98b2;
    --secondary-400: #bd7598;
    --secondary-500: #ac537e;
    --secondary-600: #8a4265;
    --secondary-700: #67324c;
    --secondary-800: #452132;
    --secondary-900: #221119;
    --secondary-950: #11080d;
    
    --accent-50: #f8edf2;
    --accent-100: #f0dbe6;
    --accent-200: #e1b7cc;
    --accent-300: #d392b3;
    --accent-400: #c46e99;
    --accent-500: #b54a80;
    --accent-600: #913b66;
    --accent-700: #6d2c4d;
    --accent-800: #481e33;
    --accent-900: #240f1a;
    --accent-950: #12070d;
    
    
    
     /* Gradients */

    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 3.5rem;
    --fs-850: 2.5rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --fs-100: clamp(0.625rem, 0.3365rem + 1.2308vw, 0.875rem);
    --ff-header: "Inter", sans-serif;
    --ff-body: "Inter", sans-serif;

    --border-radius: 6px;
    --max-width: 1240px;
    --min-width: 375px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* ul {
    list-style-type: none;
}

* ul a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    line-height: 1.1;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    background: linear-gradient(var(--primary-600), var(--primary-700), var(--primary-800));
    color: var(--text);
    position: relative;
}

.container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.hidden {
    display: none;
}
/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

.btn {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: .25rem;
    place-items: center;
    border: 2px solid var(--btn-border-color, transparent);
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8), inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
    z-index: 1;    
}

.btn::after {
    content: "";
    position: absolute;
    inset: 100%;
    background: var(--btn-hover-bg-color);
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.btn:hover {
    color: var(--btn-hover-text-color, transparent);
    border-color: var(--btn-hover-border-color, transparent);
}

.btn:hover::after {
    inset: 0;
}

/* --------------------- */

#photograph-profile {
    width: 100%;
    max-width: calc(var(--min-width) - 32px);
    border-radius: 16px;
    box-shadow: inset 2px 2px 4px -2px rgb(255, 255, 255, 0.8), inset -2px -2px 4px -2px rgb(0, 0, 0, 0.8);
    background: var(--background);
}

header {
    display: grid;
    grid-auto-rows: min-content;
    gap: 1.5rem;
    padding: 1rem;
    justify-items: center;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

header::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: url('https://images.unsplash.com/photo-1533644756484-bb7b29ac7fcd?q=80&w=2360&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center;
    background-size: cover;
    transition: transform .5s linear;
    opacity: 0.5;
    z-index: -1;
}

header:hover::before {
    transform: scale(1.2);
}

#back,
#more-options {
    --btn-bg-color: var(--background-950);
    --btn-text-color: var(--primary);
    --btn-border-color: none;
    --btn-hover-bg-color: var(--background-800);
    --btn-hover-text-color: var(--primary);
    --btn-hover-border-color: none;
    height: 2rem;
    padding: .25rem 1.25rem;
    min-width: fit-content;
    text-wrap: nowrap;
    border-radius: 100px;
    position: absolute;
    top: 1rem;
}

#back {
    left: 1rem;
}

#more-options {
    right: 1rem;
}

.profile-name {
    font-size: var(--fs-400);
    font-weight: 500;
    margin-top: .5rem;
}

.profile-avatar {
    aspect-ratio: 1;
    width: 90px;
    border-radius: 50%;
    box-shadow: 0 0 8px 8px var(--primary);
}

.metrics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgb(0, 0, 0, 0.5);
    border-radius: var(--border-radius);
}

.metric {
    display: grid;
    grid-auto-rows: min-content;
    padding: 1rem;
    text-align: center;
    font-size: var(--fs-300);
}

.metric:not(:last-child) {
    border-right: 1px solid var(--text-300);
}

.value {
    font-size: var(--fs-650);
    font-weight: 700;
}

.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

#follow,
#message {
    --btn-bg-color: var(--background-950);
    --btn-text-color: var(--primary);
    --btn-border-color: none;
    --btn-hover-bg-color: var(--background-800);
    --btn-hover-text-color: var(--primary);
    --btn-hover-border-color: none;
    width: 100%;
    padding: .25rem 1.25rem;
    min-width: fit-content;
    text-wrap: nowrap;
}

#follow {
    border-radius: 100px 0 0 100px;
}

#message {
    border-radius: 0 100px 100px 0;
}

main {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

.arrow {
    --btn-bg-color: var(--background-950);
    --btn-text-color: var(--primary);
    --btn-border-color: none;
    --btn-hover-bg-color: var(--background-800);
    --btn-hover-text-color: var(--primary);
    --btn-hover-border-color: none;
    aspect-ratio: 1;
    width: 2.5rem;
    border-radius: 50%;
    grid-template-columns: 1fr;
}

.portrait-bl {
    display: grid;
    grid-auto-rows: min-content;
    place-items: center;
}

.portrait-bl > p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font-size: var(--fs-300);
}

.gallery {
    width: 100%;
    overflow: hidden;
}

.photos {
    --col-width: 57px; /* magic numbery ugh */
    display: grid;
    grid-template-columns: repeat(18, var(--col-width));
    grid-template-rows: repeat(3, calc(2 * var(--col-width)));
    align-items: center;
    width: 100%;
    position: relative;
    transition: left .5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--text);
    background: var(--background);
}

.span-2 {
    grid-column: span 2;
}

.span-3 {
    grid-column: span 3;
}

.span-6 {
    grid-column: span 6;
}


/* CSS styles for mobile devices */
@media (max-width: 565px) {

}

