/* Add CSS here */
:root {
    
    /* Colors */
    --clr-body-bg: #202020;
    --text: #0a0304;
    --background: #E7E7E7;
    --primary: #03080C;
    --secondary: #ffffff;
    --accent: #FE0604;
    

    
    /* shades */
    --text-50: #f9ebed;
    --text-100: #f3d8dc;
    --text-200: #e8b0b9;
    --text-300: #dc8996;
    --text-400: #d06272;
    --text-500: #c43b4f;
    --text-600: #9d2f3f;
    --text-700: #762330;
    --text-800: #4f1720;
    --text-900: #270c10;
    --text-950: #140608;

    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;

    --primary-50: #ebf3fa;
    --primary-100: #d6e7f5;
    --primary-200: #adcfeb;
    --primary-300: #85b7e0;
    --primary-400: #5c9fd6;
    --primary-500: #3387cc;
    --primary-600: #296ca3;
    --primary-700: #1f517a;
    --primary-800: #143652;
    --primary-900: #0a1b29;
    --primary-950: #050e14;

    --secondary-50: #f2f2f2;
    --secondary-100: #e6e6e6;
    --secondary-200: #cccccc;
    --secondary-300: #b3b3b3;
    --secondary-400: #999999;
    --secondary-500: #808080;
    --secondary-600: #666666;
    --secondary-700: #4d4d4d;
    --secondary-800: #333333;
    --secondary-900: #1a1a1a;
    --secondary-950: #0d0d0d;

    --accent-50: #ffe6e6;
    --accent-100: #ffcccc;
    --accent-200: #fe9a9a;
    --accent-300: #fe6767;
    --accent-400: #fe3434;
    --accent-500: #fe0101;
    --accent-600: #cb0101;
    --accent-700: #980101;
    --accent-800: #650101;
    --accent-900: #330000;
    --accent-950: #190000;
    
    /* Gradients */
    --linearPrimaryAccent: linear-gradient(90deg, 
        var(--primary-900),
        var(--accent-800),
        var(--accent),
        var(--accent-800),
        var(--primary-900)
    );
    --linearAccentPrimary: linear-gradient(90deg, 
        var(--accent-600),
        var(--primary),
        var(--primary-800),
        var(--primary-900),
        var(--primary-800),
        var(--primary),
        var(--accent-600)
    );
    

    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: clamp(4rem, 1.3988rem + 11.0983vw, 10rem);
    --fs-800: clamp(1.5rem, 0.4162rem + 4.6243vw, 4rem);;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --ff-header: "Montserrat", sans-serif;
    --ff-body: "Montserrat", sans-serif;

    --max-width: 1240px;
    --min-width: 375px;
    --border-radius: 15px;
}

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Variation of the following modern CSS reset https://andy-bell.co.uk/a-more-modern-css-reset// */
/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    background-color: var(--clr-body-bg);
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    line-height: 1.1;
    font-family: var(--ff-header);
    font-weight: 700;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
color: currentColor;
}

/* Make images easier to work with */
picture {
    max-width: 100%;
    display: block;
}

/* --------------------- */
.content-container {
    --degree: 90deg;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background: url(https://github.com/bjohnson112069/web-images/blob/main/E-Ticket%202/black-superman-suit-4k-jm.jpg?raw=true) no-repeat center, linear-gradient(135deg, 
        var(--primary-900),
        var(--accent-800),
        var(--accent),
        var(--accent-800),
        var(--primary-900)
    ) no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--text);
    position: relative;
    z-index: 1;
}

.outline {
     outline: 1px solid red;
}
 
.outline-children > * {
     outline: 1px solid blue;
}

/* --------------------- */

.icon {
    width: 1rem;
    height: 1rem;
    outline: var(--icon-outline-width, 2px) solid var(--icon-outline-color, none);
    background: var(--icon-bg-color, transparent) var(--icon-bg-image, none) no-repeat center center;
    border: var(--icon-border-width, 2px) solid var(--icon-border-color, none);
    border-radius: var(--icon-border-radius, none);
    box-shadow: 0 20px 20px -10px var(--icon-shadow-color, none);
    color: var(--icon-text-color, inherit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1);
}

.scale-down {
    transform: scale(0);
}

.slide {
    transition: transform 1.5s linear;

}

/* --------------------- */

.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    place-items: start;
    width: 100%;
    max-width: var(--min-width);
    background: var(--background);
    color: var(--text);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.app > * {
    width: 100%;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1rem;
    padding: .5rem;
    font-style: var(--fs-300);
}

header > .icon-box {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.time {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    place-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
}

main > h1 {
    text-transform: uppercase;
    font-size: var(--fs-500);
}

main > p {
    text-align: center;
    font-weight: 500;
    max-width: 30ch;
}

#ticket {
    --border-radius: 10px;
    --border-height: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    position: relative;
}

#ticket::before {
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: var(--border-height);
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--linearPrimaryAccent);
}

#stub {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    place-items: center;
    gap: 2rem;
    padding-block: 3rem;
    text-transform: uppercase;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-bottom: 3px dashed var(--background-950);
    background: var(--secondary);
    position: relative;
}

#stub::before,
#stub::after {
    content: "";
    position: absolute;
    bottom: 0;
    aspect-ratio: 1 / 1;
    width: var(--border-radius);
    border-radius: var(--border-radius);
    background: var(--secondary);
}

#stub::before {
    left: 0;
    border-radius: 0 0 0 100px;
    box-shadow: -2px 2px 0 2px var(--background);
}

#stub::after {
    right: 0;
    border-radius: 0 0 100px 0;
    box-shadow: 2px 2px 0 2px var(--background);
}

.title {
    font-size: 2rem;
    font-weight: 700;
    background: var(--linearAccentPrimary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#stub > p {
    font-size: var(--fs-300);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .25rem;
}

#booking-number {
    font-size: var(--fs-600);
    font-weight: 700;
}

.seat-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    place-items: center;
    justify-content: center;
    gap: 2rem;
    padding-block: .75rem;
    background: var(--linearPrimaryAccent);
    color: var(--text-50);
}

.seat-info > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    place-items: center;
    gap: .25rem;
    font-size: var(--fs-300);
    font-weight: 500;
}

#room, 
#row, 
#seat {
    font-size: var(--fs-700);
    font-weight: 700;
}

.price-date {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.price-date > p {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: var(--fs-300);
    font-weight: 500;
}

#price,
#date {
    font-size: var(--fs-600);
    font-weight: 700;
}

#barcode {
    padding: 2rem;
    border-radius: var(--border-radius);
    border-top: 3px dashed var(--background-950);
    background: var(--secondary);
    position: relative;
}

#barcode::before,
#barcode::after {
    content: "";
    position: absolute;
    top: 0;
    aspect-ratio: 1 / 1;
    width: var(--border-radius);
    border-radius: var(--border-radius);
    background: var(--secondary);
}

#barcode::before {
    left: 0;
    border-radius: 100px 0 0 0;
    box-shadow: -2px -2px 0 2px var(--background);
}

#barcode::after {
    right: 0;
    border-radius: 0 100px 0 0;
    box-shadow: 2px -2px 0 2px var(--background);
}

#barcode-svg {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: var(--secondary);
    padding: 1rem;
}

footer > .icon-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    place-items: center;
    gap: .25rem;
    cursor: pointer;
}

footer > .icon-box > i {
    font-size: 1.75rem;
    color: var(--accent);
    filter: drop-shadow(2px 2px 2px var(--text-900));
    transition: all .3s linear;
}

footer > .icon-box > span {
    font-weight: 500;
    transition: all .3s linear;
}

footer > .icon-box:hover > i {
    color: var(--primary-800);
}

footer > .icon-box:hover > span {
    color: var(--accent);
}

/* --------------------- */

@media (max-width: 700px) {
}

@media (max-width: 500px) {
} 

@media (max-width: 550px) {
} 

@media (max-width: 500px) {
} 

@media (max-width: 375px) {
}
