/* Add CSS here */
:root {
    
    /* Colors */
    --clr-off-white: #F6F4F0;
    --clr-brown: #AA602E;
    --clr--dark-brown: #432E27;
    --clr-desaturated-yellow: #EEAB30;

    --clr-body-bg: #202020;
    
    /* Gradient Colors */
    --clr-grad-1: #aa602e;
    --clr-grad-2: #7d451f;
    --clr-grad-3: #532c12;

    /* Shadow Color */

    /* Typography */
    --fs-1000: clamp(3rem, 1.6994rem + 5.5491vw, 6rem);
    --fs-900: clamp(2rem, 1.3497rem + 2.7746vw, 3.5rem);
    --fs-800: 2rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --ff-body: 'Poppins', sans-serif;
    --ff-header: 'Poppins', sans-serif;

    --max-width: 1240px;
    --min-width: 500px;
    --border-radius: 10px;
}

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Variation of the following modern CSS reset https://andy-bell.co.uk/a-more-modern-css-reset// */
/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    background-color: var(--clr-body-bg);
    color: var(--clr--dark-brown);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    line-height: 1.1;
    font-family: var(--ff-header);
    font-weight: 700;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* --------------------- */

.content-container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
    place-items: center;
    background: var(--clr-off-white);
    position: relative;
    z-index: 1;
}

.outline {
     outline: 1px solid red;
}
 
.outline-children > * {
     outline: 1px solid blue;
}

/* --------------------- */

.icon {
    width: 10px;
    height: 10px;
    outline: var(--icon-outline-width, 2px) solid var(--icon-outline-color, none);
    background: var(--icon-bg-color, transparent) var(--icon-bg-image, none) no-repeat center center;
    border: var(--icon-border-width, 2px) solid var(--icon-border-color, none);
    border-radius: var(--icon-border-radius, none);
    box-shadow: 0 20px 20px -10px var(--icon-shadow-color, none);
    color: var(--icon-text-color, inherit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

/* --------------------- */

#more-options {
    transition: all .75s ease-in-out;
}

.dropdown {
    align-self: end;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
}

.dropdown-btn {
    align-self: end;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background: white;
    color: inherit;
    cursor: pointer;
}

.fa-ellipsis {
    font-size: var(--fs-800);
    transition: transform .3s ease-in-out;
}

.fa-ellipsis:hover {
    transform: scale(1.3);
    color: var(--clr-brown);
}

.dropdown-btn.active > .fa-ellipsis {
    color: var(--clr-brown);
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: white;
    box-shadow: 0 25px 50px -25px var(--clr-brown);
    height: auto;
    transition: all .8s ease-in-out;
}

.dropdown-items[aria-hidden="true"] {
    max-height: 0;
}

.dropdown-items[aria-hidden="false"] {
    max-height: 300px;
}

.dropdown-items[aria-hidden="false"] > .dropdown-item {
    scale: 1;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    scale: 0;
    transition: all .3s ease-in;
}

.dropdown-item.active {
    background: var(--clr-off-white);
}

.dropdown-item:hover {
    color: var(--clr-brown);
}

.dropdown-item::after {
    content: "";
    position: absolute;
    width: calc(100% - 2rem);
    height: .25em;
    left: 50%;
    bottom: .5em;
    transform: translateX(-50%);
    transition: all .3s ease-in;
    z-index: -1;
}

.dropdown-item:hover::after { 
    background: var(--clr-brown);
}


/* --------------------- */


.choices {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.option {
    position: relative;
}

.option > input {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}

.option > input:checked ~ label > .icon {
    --icon-bg-color: var(--clr-brown);
}

.option > label {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.icon {
    --icon-outline-width: 1px;
    --icon-outline-color: var(--clr--dark-brown);
    --icon-border-width: 4px;
    --icon-border-color: white;
    --icon-bg-color: white;
    --icon-border-radius: 2px;
    width: 25px;
    height: 25px;
    transition: all .3s ease-in-out;
}

.icon-circle {
    --icon-border-radius: 50%;
}

/* --------------------- */

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: var(--border-radius);
    background: white;
    box-shadow: 0 25px 50px -25px var(--clr-brown);
    padding: 4rem 3rem;
    transition: all .75s linear;
    position: relative;
}

#customize {
    align-self: end;
    justify-self: start;
}

#other {
    grid-row: 2; 
    grid-column: 2;
    align-self: start;
    justify-self: start;
}

.panel > h1 {
    font-size: var(--fs-600);
}

.buttons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.buttons-box > button {
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    background: var(--clr-off-white);
    width: 155px;
    padding-block: 1em;
    cursor: pointer;
}

.buttons-box > button:hover {
    background: var(--clr-desaturated-yellow);
    transition: all .3s ease-in-out;
}

.notification {
    position: absolute;
    inset: 0;
    background: var(--clr-off-white);
    display: grid;
    place-items: center;
    border-radius: inherit;
    transition: all .8s linear;
    width: 0;
    max-height: 0;
    z-index: -1;
}

.notification > p {
    font-size: var(--fs-800);
    font-weight: 700;
    transition: opacity .5s .8s linear;
    opacity: 0;
}

.notification.active {
    width: 100%;
    max-height: 100%;
    z-index: auto;
}

.notification.active > p {
    opacity: 1;
}

/* --------------------- */

@media (max-width: 1000px) {
}

@media (max-width: 500px) {
    
} 

@media (max-width: 750px) {
} 

@media (max-width: 650px) {
} 

@media (max-width: 375px) {
}
