/* Add CSS here */
:root {
    
    /* Colors */
    --clr-body-bg: #202020;
    --text: #001a97;
    --background: #ffffff;
    --primary: #000000;
    --secondary: #a782fb;
    --accent: #9d45f9;
    
    /* shades */
    --text-50: #e5eaff;
    --text-100: #ccd5ff;
    --text-200: #99aaff;
    --text-300: #6680ff;
    --text-400: #3355ff;
    --text-500: #002bff;
    --text-600: #0022cc;
    --text-700: #001a99;
    --text-800: #001166;
    --text-900: #000933;
    --text-950: #00041a;
    
    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;
    
    --primary-50: #f2f2f2;
    --primary-100: #e6e6e6;
    --primary-200: #cccccc;
    --primary-300: #b3b3b3;
    --primary-400: #999999;
    --primary-500: #808080;
    --primary-600: #666666;
    --primary-700: #4d4d4d;
    --primary-800: #333333;
    --primary-900: #1a1a1a;
    --primary-950: #0d0d0d;
    
    --secondary-50: #ede6fe;
    --secondary-100: #dccefd;
    --secondary-200: #b99cfc;
    --secondary-300: #966bfa;
    --secondary-400: #7339f9;
    --secondary-500: #5008f7;
    --secondary-600: #4006c6;
    --secondary-700: #300594;
    --secondary-800: #200363;
    --secondary-900: #100231;
    --secondary-950: #080119;
    
    --accent-50: #f2e6fe;
    --accent-100: #e5cefd;
    --accent-200: #ca9cfc;
    --accent-300: #b06bfa;
    --accent-400: #9639f9;
    --accent-500: #7c08f7;
    --accent-600: #6306c6;
    --accent-700: #4a0594;
    --accent-800: #310363;
    --accent-900: #190231;
    --accent-950: #0c0119;
    

    /* Gradients */
    --linearPrimarySecondary: linear-gradient(#000000, #a782fb);
    --linearPrimaryAccent: linear-gradient(#000000, #9d45f9);
    --linearSecondaryAccent: linear-gradient(#a782fb, #9d45f9);
    --radialPrimarySecondary: radial-gradient(#000000, #a782fb);
    --radialPrimaryAccent: radial-gradient(#000000, #9d45f9);
    --radialSecondaryAccent: radial-gradient(#a782fb, #9d45f9);
    
    
    
    
    
    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 3rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --ff-header: "Inter", sans-serif;
    --ff-body: "Inter", sans-serif;

    --max-width: 1240px;
    --min-width: 375px;
    --border-radius: 8px;
}

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Variation of the following modern CSS reset https://andy-bell.co.uk/a-more-modern-css-reset// */
/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    background-color: var(--clr-body-bg);
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    /* text-wrap: balance; */
    line-height: 1.1;
    font-family: var(--ff-header);
    font-weight: 700;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
color: currentColor;
}

/* Make images easier to work with */
picture {
    max-width: 100%;
    display: block;
}

/* --------------------- */
.content-container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 1rem;
    background: var(--background-200);
    background: linear-gradient(135deg,
        var(--primary-100),
        var(--primary-200),
        var(--primary-300),
        var(--primary-400)
    );
    color: var(--primary);
    position: relative;
    overflow: hidden;
}

.outline {
     outline: 1px solid red;
}
 
.outline-children > * {
     outline: 1px solid blue;
}

/* --------------------- */

.icon {
    width: 1rem;
    height: 1rem;
    outline: var(--icon-outline-width, 2px) solid var(--icon-outline-color, none);
    background: var(--icon-bg-color, transparent) var(--icon-bg-image, none) no-repeat center center;
    border: var(--icon-border-width, 2px) solid var(--icon-border-color, none);
    border-radius: var(--icon-border-radius, none);
    box-shadow: 0 20px 20px -10px var(--icon-shadow-color, none);
    color: var(--icon-text-color, inherit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */
/* The device with borders */
.smartphone {
    position: relative;
    width: 380px;
    height: 780px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }
  
  /* The screen (or content) of the device */
  .smartphone .content {
      min-width: 100%;
      height: 660px;
      background: var(--background);
      position: relative;
      overflow: hidden;
  }

  .smartphone .content > * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

/* --------------------- */

#survey {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    position: relative;
    background: inherit;
    transition: transform .75s linear;
    transform: translateX(-100%);
}

#survey.active {
    transform: translateX(0);
}

#browser {
    background: inherit;
    transition: transform .75s linear;
    transform: translateX(100%);
}

#browser.active {
    transform: translateX(0);
}

#survey > * {
    width: 100%;
}

.x-survey {
    width: var(--fs-900) !important;
    height: var(--fs-900);
    font-size: var(--fs-800);
    cursor: pointer;
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: var(--text);
}

.x-survey > i {
    pointer-events: none;
}

.x-survey::before {
    content: "";
    position: absolute;
    inset: 100%;
    border: 1px solid transparent;
    border-radius: 50%;
    background: rgb(0, 26, 151, 0.2);
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.x-survey:hover::before {
    border-color: var(--text);
    inset: 0;
}

#survey > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: 2rem;
}

#survey > header > h1 {
    font-size: var(--fs-500);
    font-weight: 700;
}

#survey > header > p {
    font-size: var(--fs-200);
    max-width: 30ch;
    text-align: center;
}

/* form */
.interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.interests > * {
    width: 100%;
}

.interests > main {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: .75rem;
    place-content: center;
}

/* label */
.interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .125rem;
    color: var(--text);
    position: relative;
}

input[type="checkbox"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.interest > .icon {
    --icon-border-radius: 50%;
    --icon-border-color: var(--text);
    background-size: 3rem;
    width: 90px;
    height: 90px;
    font-size: 3rem;
    cursor: pointer;
    transition: all .3s linear;
    position: relative;
}

.interest > .icon::before {
    content: "";
    position: absolute;
    inset: 100%;
    border: 1px solid transparent;
    border-radius: 50%;
    background: rgb(0, 26, 151, 0.2);
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.interest > .icon:hover::before {
    border-color: var(--text);
    inset: 0;
}

.interest > span {
    font-size: var(--fs-200);
    padding: .125em .5em;
    border-radius: 100px;
    transition: all .3s linear;
}
input[type="checkbox"]:checked ~ .icon {
    --icon-border-color: var(--accent);
}

input[type="checkbox"]:checked ~ span {
    background: var(--accent);
    color: var(--background);
}

.interest[for="science"] > .icon {
    --icon-bg-image: url("https://raw.githubusercontent.com/bjohnson112069/web-images/dfaa7893e47d5e90ea6073ac72434dce3e11f6e1/Mobile%20Blogging%20App/atomic.svg");
}

.interest[for="culture"] > .icon {
    --icon-bg-image: url("https://raw.githubusercontent.com/bjohnson112069/web-images/dfaa7893e47d5e90ea6073ac72434dce3e11f6e1/Mobile%20Blogging%20App/network.svg");
}

.interest[for="creativity"] > .icon {
    --icon-bg-image: url("https://raw.githubusercontent.com/bjohnson112069/web-images/dfaa7893e47d5e90ea6073ac72434dce3e11f6e1/Mobile%20Blogging%20App/creative.svg");
}

.interest[for="politics"] > .icon {
    --icon-bg-image: url("https://raw.githubusercontent.com/bjohnson112069/web-images/dfaa7893e47d5e90ea6073ac72434dce3e11f6e1/Mobile%20Blogging%20App/capitol.svg");
}

.interest[for="self"] > .icon {
    --icon-bg-image: url("https://raw.githubusercontent.com/bjohnson112069/web-images/dfaa7893e47d5e90ea6073ac72434dce3e11f6e1/Mobile%20Blogging%20App/open-book.svg");
}

.interest[for="media"] > .icon {
    --icon-bg-image: url("https://raw.githubusercontent.com/bjohnson112069/web-images/dfaa7893e47d5e90ea6073ac72434dce3e11f6e1/Mobile%20Blogging%20App/video.svg");
}

.interest[for="productivity"] > .icon {
    --icon-bg-image: url("https://raw.githubusercontent.com/bjohnson112069/web-images/dfaa7893e47d5e90ea6073ac72434dce3e11f6e1/Mobile%20Blogging%20App/productivity.svg");
}

.interest[for="design"] > .icon {
    --icon-bg-image: url("https://raw.githubusercontent.com/bjohnson112069/web-images/dfaa7893e47d5e90ea6073ac72434dce3e11f6e1/Mobile%20Blogging%20App/sketch.svg");
}

.interest[for="more"] > .icon {
    --icon-bg-image: url("https://raw.githubusercontent.com/bjohnson112069/web-images/dfaa7893e47d5e90ea6073ac72434dce3e11f6e1/Mobile%20Blogging%20App/more.svg");
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: var(--border-radius);
    font-weight: 500;
    white-space: nowrap;
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 100%;
    border-radius: inherit;
    border: 2px solid transparent;
    background: transparent;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover::before {
    background: rgb(255,255,255, 0.2);
    inset: 0;
}


#continue {
    width: 100%;
    padding-block: 1rem;
    text-transform: uppercase;
    background: var(--text);
    color: var(--background);
}

.btn:hover::before {
    border-color: var(--text-100);
}

/* --------------------- */

#browser {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    color: var(--primary);
}

#browser > * {
    width: 100%;
}

#browser > header {
    padding: 2rem 1rem;
}

#browser > header > h1 {
    font-size: var(--fs-500);
    font-weight: 700;
    text-align: center;
}

#browser > main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    padding-inline: 1rem;
    padding-bottom: 2rem;
    overflow-y: scroll;

}

.article {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    padding-inline: 1rem;
}

.article > * {
    width: 100%;
}

.article > img {
    height: 160px;
    object-fit: cover;
    margin-bottom: .5rem;
    box-shadow: 0 20px 20px -10px rgb(0, 0, 0, .3)
}

.title {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 1rem;
}

.title > h2 {
    font-size: var(--fs-300);
    font-weight: 700;
    text-transform: capitalize;
    max-width: 22ch;
    color: var(--text);
}

.favorite {
    font-size: var(--fs-500);
    color: var(--text-100);
    cursor: pointer;
    transition: color .3s linear;
}

.favorite[aria-selected="true"] {
    color: var(--text);
}

.profile {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, min-content);
    align-items: center;
    justify-items: start;
    grid-template-areas: 
        "avatar name"
        "avatar details";
    column-gap: .5rem;
    margin-left: 1rem;
}

.profile > img {
    grid-area: avatar;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--text);
}

.profile > h3 {
    grid-area: name;
    align-self: end;
    font-size: var(--fs-300);
    font-weight: 700;
}

.details {
    grid-area: details;
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font-size: var(--fs-200);
    color: var(--primary-400);
}



#browser > footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background: var(--text);
    color: rgb(255, 255, 255, 0.5);
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .125rem;
    font-size: var(--fs-200);
    padding: .5rem;
}

.icon-box > i {
    font-size: 1.5rem;
}

.icon-box.active {
    color: var(--background);
}

/* --------------------- */

@media (max-width: 480px) {

}

@media (max-width: 475px) {
} 

@media (max-width: 375px) {
} 

